{% load static %}
{% include "common/header.html" %}

    <div class="wrap">
        <!-- sub visual -->
        <section class="sub_visual">
            <div class="section_wrap">
                <div class="slogan">
                    <span class="bigSlg ck_title">
                        스마트 휴지통
                    </span>
                    <div class="pageNav">
                        <span>[아두이노 + AI]</span>
                    </div>
                </div>
                <img class="subVisual codingKit" src="{% static 'resource/img/sub/sv_codingKit.png' %}" alt="코딩키트">
            </div>
        </section>
        <!-- sub visual -->

        <!-- codingKit list -->
        <div class="codingKit_list detail">
            <div class="lecture_list detail">
                <div class="detail_area">
                    <img src="{% static 'resource/img/Trashcan/trashcan_main.jpg' %}" alt="상품상세 이미지">

                    <div class="precaution">
                        <span class="cautionTitle">구매 전 유의사항</span>
                        <ul>
                            <li>런코딩 이용권은 동시에 여러 기기에서 접속할 수 없습니다.</li>
                            <li>런코딩 이용권은 해외에서 이용할 수 없습니다.</li>
                            <li>런코딩 이용권의 이용기간은 일시정지할 수 없습니다.</li>
                            <li>런코딩 이용권은 구매 후 7일 이내에 3개 미만의 유닛을 열람한 경우 전액 환불이 가능합니다.</li>
                            <li>3개 이상의 유닛을 열람하신 경우 부분환불로 처리되며, 부분환불의 경우 제반 수수료와 이미 학습한 기간<br/>
                            (결제 완료 후 환불 의사 표시까지의 기간)만큼의 금액을 차감하고 남은 금액을 불합니다.<br/>
                            이 때, 총 이용기간이 아닌 정상제공 기간을 기준으로 환불을 진행합니다.</li>
                            <li>고객의 환불 의사 표시에 대해 회사가 회산한 날로부터 영업일 기준 3일 이내에 환불 처리되며, 환불이<br/>
                            불가한 경우 이를 사전에 고지합니다.</li>
                            <li>교재를 비롯한 실물 상품은 오후 12시 이전 구매 시 당일 출고, 12시 이후 구매시 익일 출고됩니다.<br/>
                            출고취소 요청은 구매 당일 오후 1시까지만 가능합니다.</li>
                        </ul>
                    </div>

                    <div class="curriculum">
                        <h3>커리큘럼</h3>
                        <div class="list_depth1">
                            <ul>
                                <li>
                                    <p class="title">
                                        <b>01.</b> 아두이노 설치 [환경구축]
                                    </p>
                                    <p class="time">00:03:00</p>
                                </li>
                                <li>
                                    <p class="title">
                                        <b>02.</b> 변수 [이론/문법]
                                    </p>
                                    <p class="time">00:08:00</p>
                                </li>
                                <li>
                                    <p class="title">
                                        <b>03.</b> 연산자 기초 [이론/문법]
                                    </p>
                                    <p class="time">00:07:00</p>
                                </li>
                                <li>
                                    <p class="title">
                                        <b>04.</b> 시리얼 모니터 [이론/문법]
                                    </p>
                                    <p class="time">00:04:00</p>
                                </li>
                                <li>
                                    <p class="title">
                                        <b>05.</b> 함수 [이론/문법]
                                    </p>
                                    <p class="time">00:09:00</p>
                                </li>
                                  <li>
                                    <p class="title">
                                        <b>06.</b> 조건문 if [이론/문법]
                                    </p>
                                    <p class="time">00:09:00</p>
                                </li>
                                  <li>
                                    <p class="title">
                                        <b>07.</b> 초음파 센서 [센서]
                                    </p>
                                    <p class="time">00:09:00</p>
                                </li>
                                  <li>
                                    <p class="title">
                                        <b>08.</b> 서보모터 [모터]
                                    </p>
                                    <p class="time">00:09:00</p>
                                </li>
                                  <li>
                                    <p class="title">
                                        <b>09.</b> Trashcan [키트만들기]
                                    </p>
                                    <p class="time">00:09:00</p>
                                </li>
                                <li>
                                    <p class="title">
                                        <b>10.</b> 인공지능 이란 [이론]
                                    </p>
                                    <p class="time">00:09:00</p>
                                </li>
                                  <li>
                                    <p class="title">
                                        <b>11.</b> AI 러닝봇 설치 [환경구축]
                                    </p>
                                    <p class="time">00:09:00</p>
                                </li>
                                  <li>
                                    <p class="title">
                                        <b>12.</b> AI Trashcan [키트만들기]
                                    </p>
                                    <p class="time">00:09:00</p>
                                </li>
                                  <li>
                                    <p class="title">
                                        <b>13.</b> AI 내가 만든 러닝봇 [활용]
                                    </p>
                                    <p class="time">00:09:00</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="lecture_list.html" class="btn list_more">목록으로</a>
            </div>

            <div class="filter_area detail">
                <div class="fixedArea">
                    <div class="info_area">
                        <span>INFO</span>
                        <div class="lecture_info">
                            <ul>
                                <li>
                                    <span class="li_title">판매가</span>
                                    <form id="prd_form" method="post" action="/run_order/">
                                        {% csrf_token %}
                                        <input type="hidden" id="prd_code" name="prd_code" value="aAt"> <!--arduino-AI-trashcan -->
                                     </form>
                                    <p><span class="price">45,000</span> won</p>
                                </li>
                                <li>
                                    <span class="li_title">키트명</span>
                                    <p>[아두이노 + AI] 스마트 휴지통</p>
                                </li>
<!--                                <li>-->
<!--                                    <span class="li_title">강의 구성</span>-->
<!--                                    <p>5개 섹션 (총 22개 유닛)</p>-->
<!--                                </li>-->
                                <li>
                                    <span class="li_title">학습 목표</span>
                                    <p>아두이노 환경구축, 활용<br> 인공지능 </p>
                                </li>
                                <li>
                                    <span class="li_title">학습 기간</span>
                                    <p>3개월</p>
                                </li>
<!--                                <li>-->
<!--                                    <span class="li_title">수량</span>-->

<!--                                    <div class="count_num">-->
<!--                                        <button id="down" class="btn minus" onclick=" down('1')">-->
<!--                                            <img src="../resource/img/sub/ico_priceDown.png" alt="down">-->
<!--                                        </button>-->


<!--                                        <input type="text" id="prodQuantity" class="input quantity" value="1" />-->
<!--                                        <button id="up" class="btn plus" onclick="up('10')">-->
<!--                                            <img src="../resource/img/sub/ico_priceUp.png" alt="up">-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="btn_area">
                        <a href="#" class="btn cart" onClick="javascript:goOrder();">장바구니</a>
                        <a class="btn buy" href="#">바로구매</a>
                    </div>
                    <input type="hidden" name="message" value="{{message}}" readonly>
                </div>
            </div>
        </div>

        {% include "common/banner_bottom.html" %}
        {% include "common/footer.html" %}

    </div>

    <script>
        // 수량 더하기
        function up(max) {
            document.getElementById("prodQuantity").value = parseInt(document.getElementById("prodQuantity").value) + 1;
            if (document.getElementById("prodQuantity").value >= parseInt(max)) {
                document.getElementById("prodQuantity").value = max;
            }
        }
        function down(min) {
            document.getElementById("prodQuantity").value = parseInt(document.getElementById("prodQuantity").value) - 1;
            if (document.getElementById("prodQuantity").value <= parseInt(min)) {
                document.getElementById("prodQuantity").value = min;
            }
        }

        $(window).scroll(function() {
            var scroll_top = $(window).scrollTop();
            if (scroll_top >= $(".sub_visual").outerHeight()) {
                $(".filter_area").addClass("scr");
            } else {
                $(".filter_area").removeClass("scr");
            }
        });

        $(window).scroll(function () {
            var scroll_top = $(window).scrollTop();
            if ( $(".sub_visual").outerHeight() + $(".lecture_list").height() <= scroll_top + $(".fixedArea").height()) {
                $(".scr").addClass("end");
            } else {
                $(".scr").removeClass("end");
            }
        });

        <!-- templates로 옮기자 쿠키 session 확인을 위해서.-->

        function goOrder()
        {

            if($("input[type=hidden][name=clientId]").val() == "")
            {
                alert("로그인이 필요합니다.");
                location.href = "/run_login/";
            }
            else
            {
                document.getElementById("prd_form").submit();
             }
         }

          $(document).ready(function() {
          var msg = $("input[type=hidden][name=message]").val();
          alert(msg);
            if (msg == 1)
            {
                alert("장바구니에 담겼습니다.")
            }

         });
    </script>

</body>
</html>