{% load static %}
{% include "common/header.html" %}
    <div class="wrap">
        <section class="sub_visual_class_detail">
        </section>

        <!-- codingKit list -->
        <div id="top" class="codingKit_list detail">
            <div class="lecture_list detail">
                <div class="detail_area">
                    {% include html_file %}
                </div>
                <a href="/class/" class="btn list_more">목록으로</a>
            </div>

            <div class="filter_area detail">
                <div class="fixedArea">
                    <div class="info_area">
                        <span>INFO</span>

                        <div class="lecture_info">
                            <ul>
                                <li>
                                    <span class="li_title">판매가</span>
                                    <form id="prd_form" method="post" action="/run_order/">
                                        {% csrf_token %}
                                        <input type="hidden" id="prd_code" name="prd_code" value={{prd_detail.prd_code}}> <!--arduino-AI-trashcan -->
                                        <input type="hidden" id="flag" name="flag" value="0">
                                        <input type="hidden" id="option1" name="option1" value="0">
                                        <input type="hidden" id="option2" name="option2" value="0">
                                        <input type="hidden" id="option3" name="option3" value="0">
                                        <input type="hidden" id="count" name="count" value="1">
                                        <input type="hidden" id="id" name="id" value="1">
                                     </form>
                                    <p><div id="prd_price" style="color: #b14739; font-size:20px;"></div></p>
                                </li>
                                <li>
                                    <span class="li_title">키트명</span>
                                    <p><span id="title">{{prd_detail.title}}</span></p>
                                </li>
                                <li>
                                    <span class="li_title">메인부품</span>
                                    <p>아두이노보드/{{prd_detail.category_sub}} </p>
                                </li>
                                 <li>
                                    <span class="li_title">코딩언어</span>
                                    <p>{{prd_detail.keyword}} </p>
                                </li>
                                  <li>
                                    <span class="li_title">강의수</span>
                                    <p>{{prd_detail.class_count}} 개</p>
                                </li>
                                <li>
                                    <span class="li_title">학습 기간</span>
                                    <p>{{prd_detail.period}}개월</p>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="//pay.naver.com/customer/js/naverPayButton.js"></script>
        <script type="text/javascript" src="//pay.naver.com/customer/js/mobile/naverPayButton.js"></script>

        {% include "common/banner_bottom.html" %}
        {% include "common/footer.html" %}

    </div>

    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.6.js"></script>
    <script>
        $(document).ready(function() {

            var price = {{prd_detail.price}};
            document.getElementById("prd_price").innerHTML = numberWithCommas(price) +"원";
         });

        $(window).scroll(function() {
            var scroll_top = $(window).scrollTop();
            if (scroll_top >= $(".sub_visual_class_detail").outerHeight()) {
                $(".filter_area").addClass("scr");
            } else {
                $(".filter_area").removeClass("scr");
            }
        });

        $(window).scroll(function () {
            var scroll_top = $(window).scrollTop();
            if ( $(".sub_visual_class_detail").outerHeight() + $(".lecture_list").height() <= scroll_top + $(".fixedArea").height()) {
                $(".scr").addClass("end");
            } else {
                $(".scr").removeClass("end");
            }
        });

        function top_val()
        {
            $('html, body').animate({scrollTop : 0}, 600);
        }

        function down_val()
        {
           $('html, body').animate({scrollTop : ($(document).height() - 2000)}, 600);
        }

         function numberWithCommas(x)
         {
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
         }





    </script>

      <a class="up_scroll" href="javascript:void(0);" onclick="javascript:top_val();">
        <img src="{% static 'resource/img/sub/up.png' %}" style="float:right;">
    </a>
    <a class="down_scroll" href="javascript:void(0);" onclick="javascript:down_val();">
        <img src="{% static 'resource/img/sub/down.png' %}" style="float:right;">
    </a>
    <br/>

</body>
</html>