{% load static %}
{% include "common/header.html" %}
    <div class="wrap">
        <!-- sub visual -->
        <section class="sub_visual">
            <div class="section_wrap">
                <div class="slogan">
                    <span class="bigSlg ck_title">
                        {{prd_detail.title2}}
                    </span>
                    <div class="pageNav">
                        <span>{{prd_detail.title3}}</span>
                    </div>
                </div>
                <img class="subVisual codingKit" src="{% static 'resource/img/sub/sv_codingKit.png' %}" alt="코딩키트">
            </div>
        </section>
        <!-- sub visual -->

        <!-- codingKit list -->
        <div class="codingKit_list detail">
            <div class="lecture_list detail">
                <div class="detail_area">
                    <img src="{{prd_detail.img}}" alt="상품상세 이미지">

                    {% include html_file %}

                    <div class="precaution">
                        <span class="cautionTitle">구매 전 유의사항</span>
                        <ul>
                            <li>런코딩 이용권은 동시에 여러 기기에서 접속할 수 없습니다.</li>
                            <li>런코딩 이용권은 해외에서 이용할 수 없습니다.</li>
                            <li>런코딩 이용권의 이용기간은 일시정지할 수 없습니다.</li>
                            <li>런코딩 이용권은 구매 후 7일 이내에 3개 미만의 유닛을 열람한 경우 전액 환불이 가능합니다.</li>
                            <li>3개 이상의 유닛을 열람하신 경우 부분환불로 처리되며, 부분환불의 경우 제반 수수료와 이미 학습한 기간<br/>
                            (결제 완료 후 환불 의사 표시까지의 기간)만큼의 금액을 차감하고 남은 금액을 불합니다.<br/>
                            이 때, 총 이용기간이 아닌 정상제공 기간을 기준으로 환불을 진행합니다.</li>
                            <li>고객의 환불 의사 표시에 대해 회사가 회산한 날로부터 영업일 기준 3일 이내에 환불 처리되며, 환불이<br/>
                            불가한 경우 이를 사전에 고지합니다.</li>
                            <li>교재를 비롯한 실물 상품은 오후 12시 이전 구매 시 당일 출고, 12시 이후 구매시 익일 출고됩니다.<br/>
                            출고취소 요청은 구매 당일 오후 1시까지만 가능합니다.</li>
                        </ul>
                    </div>

                    <div class="curriculum">
                        <h3>커리큘럼</h3>
                        <div class="list_depth1">
                            <ul>
                                {% for items_detail in class_items_detail %}
                                <li>
                                    <p class="title">
                                        <b>{{forloop.counter0}}) </b>{{items_detail.title}}
                                    </p>
                                    <p class="time">{{items_detail.time}}</p>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="/class/" class="btn list_more">목록으로</a>
            </div>

            <div class="filter_area detail">
                <div class="fixedArea">
                    <div class="info_area">
                        <span>INFO</span>
                        <div class="lecture_info">
                            <ul>
                                <li>
                                    <span class="li_title">판매가</span>
                                    <form id="prd_form" method="post" action="/run_order/">
                                        {% csrf_token %}
                                        <input type="hidden" id="prd_code" name="prd_code" value={{prd_detail.prd_code}}> <!--arduino-AI-trashcan -->
                                        <input type="hidden" id="flag" name="flag" value="0">
                                        <input type="hidden" id="option1" name="option1" value="0">
                                        <input type="hidden" id="option2" name="option2" value="0">
                                        <input type="hidden" id="option3" name="option3" value="0">
                                        <input type="hidden" id="count" name="count" value="1">
                                     </form>
                                    <p><span id="prd_price">{{prd_detail.price}}</span> 원</p>
                                </li>
                                <li>
                                    <span class="li_title">키트명</span>
                                    <p>{{prd_detail.title}}</p>
                                </li>
                                <li>
                                    <span class="li_title">학습 목표</span>
                                    <p>{{prd_detail.goal}} </p>
                                </li>
                                <li>
                                    <span class="li_title">학습 기간</span>
                                    <p>{{prd_detail.period}}개월</p>
                                </li>
                                <li>
                                   <span class="li_title" style="float:left; padding-right:110px;">수량</span>

                                    <input type="text" name="prodQuantity" id="prodQuantity" class="input quantity" style="width:20%; height:25px; border:1px solid #d4d4d4; line-height:24px; font-size:12px; float:left;" value="1" >
                                    <a href="javascript:up('10');" style="color: #000; ">
                                        <img src="{% static 'resource/img/sub/btn_quantity_up.png' %}" alt="증가" class="QuantityUp" style="border: 1px solid #d4d8d9;">
                                    </a>
                                    <a href="javascript:down('1');" style="color: #000;" >
                                        <img src="{% static 'resource/img/sub/btn_quantity_down.png' %}" alt="감소" class="QuantityDown" style="border: 1px solid #d4d8d9;">
                                    </a>
                                </li>
                                <li>
                                    <span class="li_title">옵션 </span>

                                    {% if prd_detail.option1 != "" %}
                                     <select id="options_1" name="options_1" style="width:200px; height:24px; border:1px solid #d4d4d4; line-height:24px; font-size:12px;" onchange="myOption(this.value, 1);">
                                        <option value="0">--------------필수옵션----------</option>
                                        <option value="0">선택없음</option>
                                        <option value={{prd_detail.option1_price}}>{{prd_detail.option1}} (+{{prd_detail.option1_price}})</option>
                                     </select>
                                    {% endif %}

                                    {% if prd_detail.option2 != "" %}
                                     <select id="options_2" name="options_2" style="width:200px; height:24px; border:1px solid #d4d4d4; line-height:24px; font-size:12px;" onchange="myOption(this.value, 2);">
                                        <option value="0">--------------필수옵션----------</option>
                                        <option value="0">선택없음</option>
                                        <option value={{prd_detail.option2_price}}>{{prd_detail.option2}} (+{{prd_detail.option2_price}})</option>
                                     </select>
                                    {% endif %}

                                    {% if prd_detail.option3 != "" %}
                                     <select id="options_3" name="options_3" style="width:200px; height:24px; border:1px solid #d4d4d4; line-height:24px; font-size:12px;" onchange="myOption(this.value, 3);">
                                        <option value="0">--------------필수옵션----------</option>
                                        <option value="0">선택없음</option>
                                        <option value={{prd_detail.option3_price}}>{{prd_detail.option3}} (+{{prd_detail.option3_price}})</option>
                                     </select>
                                    {% endif %}

                                </li>
                                <li>
                                   <span class="li_title">총 상품 금액</span>
                                   <p><span class="price" id="total_price">{{prd_detail.price}}</span> 원</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div></div>
                    <div class="btn_area">
                        <a href="javascript:void(0);" class="btn cart" onClick="javascript:goOrder(1);">장바구니 담기</a>
                        <a class="btn buy" href="javascript:void(0);" onClick="javascript:goOrder(2);">바로구매</a>
                    </div>
                    <input type="hidden" name="message" value="{{message}}" readonly>
                </div>
            </div>
        </div>

        {% include "common/banner_bottom.html" %}
        {% include "common/footer.html" %}

    </div>

    <script>
        $(window).scroll(function() {
            var scroll_top = $(window).scrollTop();
            if (scroll_top >= $(".sub_visual").outerHeight()) {
                $(".filter_area").addClass("scr");
            } else {
                $(".filter_area").removeClass("scr");
            }
        });

        $(window).scroll(function () {
            var scroll_top = $(window).scrollTop();
            if ( $(".sub_visual").outerHeight() + $(".lecture_list").height() <= scroll_top + $(".fixedArea").height()) {
                $(".scr").addClass("end");
            } else {
                $(".scr").removeClass("end");
            }
        });

        function goOrder(flag)
        {

            if($("input[type=hidden][name=clientId]").val() == "")
            {
                $("#res_msg").text("로그인이 필요합니다.");
                $('div.modal').modal();
            }
            else
            {
                var quantity = document.getElementById("prodQuantity").value;

                $("input[type=hidden][name=flag]").val(flag);
                $("input[type=hidden][name=count]").val(quantity);
                document.getElementById("prd_form").submit();
             }
         }

         function numberWithCommas(x)
         {
              return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
         }

         function removeComma(str)
        {
          n = parseInt(str.replace(/,/g,""));
          return n;
        }

          $(document).ready(function()
          {
               price_format = numberWithCommas(document.getElementById("prd_price").innerText);
               document.getElementById("prd_price").innerText = price_format;
               document.getElementById("total_price").innerText = price_format;

              var msg = $("input[type=hidden][name=message]").val();
              if (msg == 1)
              {
                  $("#res_msg").text("장바구니에 담겼습니다.");
                  $('div.modal').modal();
              }
         });


         function myOption(option_val, num)
         {
            if(num == 1)
            {
                $("input[type=hidden][name=option1]").val(document.getElementById("options_1").selectedIndex);
            }
            if(num == 2)
            {
                $("input[type=hidden][name=option2]").val(document.getElementById("options_2").selectedIndex);
            }
            if(num == 3)
            {
                $("input[type=hidden][name=option3]").val(document.getElementById("options_3").selectedIndex);
            }

            totalPrice();
         }

          // 수량 더하기
        function up(max)
        {
            var quantity_name = "prodQuantity";
            var quantity = document.getElementById(quantity_name).value = parseInt(document.getElementById(quantity_name).value) + 1;
            if (document.getElementById(quantity_name).value >= parseInt(max))
                document.getElementById(quantity_name).value = max;

            totalPrice();

        }
        function down(min)
        {
            var quantity_name = "prodQuantity";
            var quantity = document.getElementById(quantity_name).value = parseInt(document.getElementById(quantity_name).value) - 1;
            if (document.getElementById(quantity_name).value <= parseInt(min))
                document.getElementById(quantity_name).value = min;

            totalPrice();
        }

        function totalPrice()
        {
            var count = document.getElementById("prodQuantity").value;
            var prd = removeComma(document.getElementById("prd_price").innerText);

            var option1_name = document.getElementById("options_1");
            var option2_name = document.getElementById("options_2");
            var option3_name = document.getElementById("options_3");

            prd *= 1;
            var option_price = 0;
            option_price *= 1;
            if(option1_name != null)
            {
                var option1 =  option1_name.value;
                option1 *= 1;
                option_price += option1;
            }

            if(option2_name != null)
            {
                var option2 =  option2_name.value;
                option2 *= 1;
                option_price += option2;
            }

            if(option3_name != null)
            {
                var option3 =  option3_name.value;
                option3 *= 1;
                option_price += option3;
            }

            count *= 1;
            prd = prd + option_price;
            prd =  prd * count;
            document.getElementById("total_price").innerHTML =  numberWithCommas(prd);

        }
    </script>

</body>
</html>