{% load static %}
<div class="banner bottom">
    <img class="bg left01" src="{% static 'resource/img/sub/bg_botBanner_left01.png' %}" alt="bg01">
    <img class="bg left02" src="{% static 'resource/img/sub/bg_botBanner_left02.png' %}" alt="bg02">
    <img class="bg right" src="{% static 'resource/img/sub/bg_botBanner_right.png' %}" alt="bg03">
    <span>
        CREATIVE CODING KIT로 학습하는 <b>런코딩!</b><br/>
        지금 시작해보세요.
    </span>
    <a href="{% static 'lecture/lecture_list.html' %}" class="btn">시작하기</a>
</div>