{% load static %}
<footer>
        <div class="footer">
            <img class="ci" src="{% static 'resource/img/common/logo_footer.png' %}" alt="런코딩">
            <div class="footerText">
                <div class="information">
                    <span>INFORMATION</span>
                    <ul>
                        <li>
                            <span>Company</span>
                            <p>런코딩</p>
                        </li>
                        <li>
                            <span>CPO</span>
                            <p>김하나</p>
                        </li>
                        <li>
                            <span>Business License</span>
                            <p>000-000-00000</p>
                        </li>
                        <li>
                            <span>Online Biz</span>
                            <p>000-000-00000</p>
                        </li>
                        <li>
                            <span>Address</span>
                            <p>경기도 런코딩 런코딩</p>
                        </li>
                    </ul>
                </div>
                <div class="contact">
                    <span>CONTACT</span>
                    <ul>
                        <li>
                            <span>TEL</span>
                            <p>070-0000-0000</p>
                        </li>
                        <li>
                            <span>E-Mail</span>
                            <p>master@runcoding.com</p>
                        </li>
                        <li>
                            <span>Kakao ID</span>
                            <p>런코딩</p>
                        </li>
                    </ul>
                </div>
                <div class="snsArea">
                    <span>SNS</span>
                    <div class="snsBtn">
                        <a><img src="{% static 'resource/img/common/ico_kakaoTalk.png' %}" alt="kakaotalk"></a>
                        <a><img src="{% static 'resource/img/common/ico_instagram.png' %}" alt="instagram"></a>
                        <a><img src="{% static 'resource/img/common/ico_naverBlog.png' %}" alt="naverblog"></a>
                        <a><img src="{% static 'resource/img/common/ico_youtube.png' %}" alt="youtube"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="link_area">
            <div class="linkWrap">
                <a href="#modal01">Privacy Policy</a>
                <a href="#modal02">Terms &amp; Conditions</a>
            </div>
        </div>
    </footer>