{% load static %}
<footer>
        <div class="footer">
            <img class="ci" src="{% static 'resource/img/common/logo_footer.png' %}" alt="런코딩">
            <div class="footerText">
                <div class="information">
                    <span>INFORMATION</span>
                    <ul>
                        <li>
                            <span>Company</span>
                            <p>런코딩 </p>
                        </li>
                        <li>
                            <span>CPO</span>
                            <p>김하나</p>
                        </li>
                        <li>
                            <span>사업자등록번호</span>
                            <p>275-11-01405</p>
                        </li>
                        <li>
                            <span>통신파매업 신고</span>
                            <p>제 2020-수원영통-0409 호</p>
                        </li>
                        <li>
                            <span>호스팅 사업자</span>
                            <p>Amazon Web Service(AWS)</p>
                        </li>
                         <li>
                            <span>Address</span>
                            <p>경기도 수원시 영통구 영통로 200</p>
                        </li>
                    </ul>
                </div>
                <div class="contact">
                    <span>CONTACT</span>
                    <ul>
                        <li>
                            <span>TEL</span>
                            <p>070-7867-8866</p>
                        </li>
                        <li>
                            <span>E-Mail</span>
                            <p>runcoding@naver.com</p>
                        </li>
                        <li>
                            <span>Kakao ID</span>
                            <p>런코딩</p>
                        </li>
                    </ul>
                </div>
                <div class="snsArea">
                    <span>SNS</span>
                    <div class="snsBtn">
                        <a><img src="{% static 'resource/img/common/ico_kakaoTalk.png' %}" alt="kakaotalk"></a>
                        <a><img src="{% static 'resource/img/common/ico_instagram.png' %}" alt="instagram"></a>
                        <a><img src="{% static 'resource/img/common/ico_naverBlog.png' %}" alt="naverblog"></a>
                        <a><img src="{% static 'resource/img/common/ico_youtube.png' %}" alt="youtube"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="link_area">
            <div class="linkWrap">
                <a href="#modal01">Privacy Policy</a>
                <a href="#modal02">Terms &amp; Conditions</a>
            </div>
        </div>

<!--        <div data-ml-modal="" id="modal01">-->
<!--            <a href="#" class="modal-overlay"></a>-->
<!--            <div class="modal-dialog modal-dialog-lg">-->
<!--                <a href="#" class="modal-close">×</a>-->
<!--                <h3>개인정보취급방침</h3>-->
<!--                <div class="modal-content">-->
<!--                    <div class="terms_area">-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div data-ml-modal="" id="modal02">-->
<!--            <a href="#" class="modal-overlay"></a>-->
<!--            <div class="modal-dialog modal-dialog-lg">-->
<!--                <a href="#" class="modal-close">×</a>-->
<!--                <h3>이용약관</h3>-->
<!--                <div class="modal-content">-->
<!--                    <div class="terms_area">-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </footer>