{% load static %}
{% include "common/head.html" %}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/css/animate.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/css/jquery.modal.css" />
    <script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/jquery.modal.js"></script>
    <script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/modal.js"></script>

<header>
    <script>
    // F12 버튼 방지
    $(document).ready(function(){
        $(document).bind('keydown',function(e){
            if ( e.keyCode == 123 /* F12 */) {
                e.preventDefault();
                e.returnValue = false;
            }
        });

        if($("input[type=hidden][name=clientId]").val() != "")
        {
            $("#logout").show();
            $("#login").hide();
        }
        else
        {
            $("#logout").hide();
            $("#login").show();
        }
    });

     function goMyClass()
    {
         if($("input[type=hidden][name=clientId]").val() == "")
         {
                $("#res_msg").text("회원만 접근이 가능합니다. 로그인 후 이용해주세요.");
                $('div.modal').modal();
                return false;
         }
         else
         {
            location.href="/myclass_list/";
         }

    }

    // 우측 클릭 방지
    document.onmousedown=disableclick;
    status="오른쪽 마우스 사용을 할 수 없습니다.";


    function disableclick(event){
        if (event.button==2) {
            $("#res_msg").text(status);
            $('div.modal').modal();
            return false;
        }
    }

    </script>

    <div class="header_wrap">
        <input type="hidden" id="clientId" name="clientId" value={{ request.session.client_id }}>
        <a href="/" class="logo">
            <img src="{% static 'resource/img/common/logo.png' %}" alt="runcoding">
        </a>
        <!-- gnb -->
        <ul class="menu">
            <li>
                <a href="/class/">코딩키트</a>
            </li>
            <li>
                <a href="/lounge/">코딩라운지</a>
            </li>

            <li>
                <a href="/comunity/">커뮤니티</a>
            </li>
            <li>
                <a href="javascript:goMyClass();">나의 강의실</a>
            </li>
        </ul>
        <div class="ab_right">
            <div class="user_menu">
                <span class="userImg"><img src="{% static 'resource/img/sub/img_user.png' %}" alt="유저 프로필"></span>
                <ul class="sub_menu">
                     <div id="logout" >
                          <a href="/myprofile/">
                              <li style="border-bottom:1px solid #dcdcdc;">
                               내 프로필
                            </li>
                          </a>
                         <a href="/coupon/">
                              <li style="border-bottom:1px solid #dcdcdc;">
                               쿠폰
                            </li>
                          </a>
                        <a href="/myorder/">
                            <li style="border-bottom:1px solid #dcdcdc;">
                                주문내역
                            </li>
                        </a>
                        <a href="/order/">
                            <li style="border-bottom:1px solid #dcdcdc; ">
                                {% if request.session.order_count > 0 %}
                                <div style="float:left; padding-right:5px;">장바구니 </div>
                                <div class="img_order">
                                    <img src="{% static 'resource/img/sub/ico_order.png' %}">
                                    <div class="content">{{request.session.order_count}}</div>
                                </div>
                                {% else %}
                                장바구니
                                {% endif %}
                            </li>
                         </a>
                        <a href="/run_logout/">
                            <li>
                                로그아웃
                            </li>
                        </a>
                     </div>
                     <div id="login">
                         <a href="/run_login/">
                             <li>
                                로그인
                             </li>
                         </a>
                     </div>
                </ul>
            </div>
        </div>
    </div>
</header>
