{% load static %}
{% include "common/head.html" %}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/css/animate.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/css/jquery.modal.css" />
    <script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/jquery.modal.js"></script>
    <script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/modal.js"></script>

<header>
    <script>
    // F12 버튼 방지
    $(document).ready(function(){
        $(document).bind('keydown',function(e){
            if ( e.keyCode == 123 /* F12 */) {
                e.preventDefault();
                e.returnValue = false;
            }
        });

        if($("input[type=hidden][name=clientId]").val() != "")
        {
            $("#logout").show();
            $("#login").hide();
        }
        else
        {
            $("#logout").hide();
            $("#login").show();
        }
    });

     function goMyClass_header()
    {
         if($("input[type=hidden][name=clientId]").val() == "")
         {
            $("#res_msg").text("회원만 접근이 가능합니다. 로그인 후 이용해주세요.");
            $('div.modal').modal();
         }
         else
         {
            location.href="/myclass_list/";
         }

    }

    // 우측 클릭 방지
    document.onmousedown=disableclick;
    status="오른쪽 마우스 사용을 할 수 없습니다.";


    function disableclick(event){
        if (event.button==2) {
            $("#res_msg").text(status);
            $('div.modal').modal();
            return false;
        }
    }


    function setCookie(name, value, expiredays)
    {
        var date = new Date();
        date.setDate(date.getDate() + expiredays);
        document.cookie = escape(name) + "=" + escape(value) + "; path=/; expires=" + date.toUTCString();
    }

    function getCookie(name)
    {

         var cookie = document.cookie;

         if (document.cookie != "")
         {
              var cookieArray = cookie.split("; ");
              for (var index in cookieArray)
              {
                  var cookieName = cookieArray[index].split("=");
                  if (cookieName[0] == "popup_coo")
                  {
                       return cookieName[1];
                  }
              }
         } return ;
    }

    function delete_cookie(name)
    {
        var today = new Date();

        today.setTime(today.getTime() - 1);
        var value = get_cookie(name);
        if(value != "")
            document.cookie = name + "=" + value + "; path=/; expires=" + today.toGMTString();
    }


    </script>

    <div class="header_wrap">
        <a href="/" class="logo">
            <img src="{% static 'resource/img/common/logo.png' %}" alt="runcoding">
        </a>
        <!-- gnb -->
        <ul class="menu">
            <li>
                <a href="/class/">코딩키트</a>
            </li>
            <li>
                <a href="/lounge/">코딩라운지</a>
            </li>

            <li>
                <a href="/comunity/">커뮤니티</a>
            </li>
            <li>
                <a>나의 강의실</a>
            </li>
        </ul>
        <div class="ab_right">
                <div class="user_menu">
                    <span class="userImg"><img src="{% static 'resource/img/sub/img_user.png' %}" alt="유저 프로필"></span>
                </div>
        </div>
    </div>
</header>
