{% load static %}
{% include "common/head_admin.html" %}

    <div class="wrap">
        <div class="admin_sub_visual">
             <div class="tabs section_wrap">
                <ul>
                    <li class="admin_active"><a href="/deposit_list/">무통장 입금 조회</a></li>
                    <li><a href="/pay_list/">구매 데이터 조회</a></li>
                    <li><a href="/user_list/">사용자 조회</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="https://admin.iamport.kr/users/login" target="_blank">아임포트 관리자</a></li>
                    <li><a href="https://partner.danalpay.com/account/login?next=%2F#" target="_blank">다날 (휴대폰인증)</a></li>
                    <li><a href="http://admin8.kcp.co.kr" target="_blank">KCP</a></li>
                </ul>
            </div>
        </div>

        <div class="codingLounge_list" style="margin-left:300px;">
            <div class="filter_area fixed">
                <div class="search_area">
                    <div class="input_area_lounge">
                         <input type="date" name="start_date" id="start_date" value="{{start_date}}">
                    </div>
                    <div class="input_area_lounge">
                         <input type="date" name="end_date" id="end_date" value="{{end_date}}">
                    </div>
                    <div class="input_area_lounge">
                         <input type="text" name="search_box" id="search_box" value='{{search}}'  placeholder="아이디 or 주문번호">
                    </div>
                     <div class="btn_area">
                        <a class="btn" href="javascript:void(0);" onclick="javascript:goSearch(1);">&nbsp;조회하기&nbsp;</a>
                     </div>
                </div>
            </div>
        </div>

        <div style="margin-left: 300px; width: 1128px; font-size: 20px !important;">total : {{total_count}}</div>
        <div style="overflow: hidden; position: relative; border: 0px; width: 100%; " >
            <table style="margin-left: 300px; width: 1128px;">
                <thread>
                    <tr class="row">
                        <th class="admin_list">이름</th>
                        <th class="admin_list_id">아이디</th>
                        <th class="admin_list">주문번호</th>
                        <th class="admin_list">입금자명</th>
                        <th class="admin_list">현금영수증</th>
                        <th class="admin_list">휴대폰 번호</th>
                        <th class="admin_list">결제금액</th>
                        <th class="admin_list">입금확인</th>
                    </tr>
                </thread>
                <tbody>
                    {% for deposit in pay_info %}
                    <tr class="row">
                        <td class="admin_list_body">{{deposit.pay_user.regi_name}}</td>
                        <td class="admin_list_id_body">{{deposit.pay_user.regi_email}}</td>
                        <td class="admin_list_body">{{deposit.pay_num}}</td>
                        <td class="admin_list_body">{{deposit.payWay_name}}</td>
                        <td class="admin_list_body">{{deposit.payWay_receipt}}</td>
                        <td class="admin_list_body">{{deposit.delivery_phone}}</td>
                        <td class="admin_list_body">{{deposit.prd_total_price}}</td>
                        <td class="admin_list_body">
                        {% for myclass in myclass_list %}
                            {% if myclass.pay_num == deposit.pay_num %}
                                {% if myclass.dbstat == 'A' %}
                                확인됨
                                {% elif myclass.dbstat == 'D-refund' %}
                                환불됨
                                {% elif myclass.dbstat == 'D-refund-req' %}
                                환불요청
                                {% else %}
                               <a href="javascript:void(0);" onClick="javascript:change('{{deposit.pay_user.regi_email}}', '{{deposit.pay_num}}');" style="cursor:pointer;color:red;"><strong>확인</strong></a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div id="total_data" class="page"><span>조회 데이터가 없습니다.</span></div>
             <div class="page">
                <ul id="paging" class="pagination modal"></ul>
            </div>
        </div>
    </div>

    <script>

    $(document).ready(function() {
       $('#page_cnt').val('{{page_cnt}}').prop("selected",true);

       var total = '{{total_count}}';
       if (total == 0)
       {
            $("#total_data").show();
       }
       else
       {
            $("#total_data").hide();
       }

       var page = '{{last_page}}';
       var cur_page = '{{paging_num}}';

       page *= 1;

       for(var i = 1; i <= page; i ++)
       {
            if(i == cur_page)
                document.getElementById('paging').innerHTML += "<li><a href='javascript:void(0);' onclick='javascript:goSearch(" + i + ");' class='active num' >" + i + "</a></li>";
            else
                document.getElementById('paging').innerHTML += "<li><a href='javascript:void(0);' onclick='javascript:goSearch(" + i + ");' class='num' >" + i + "</a></li>";
       }

     });

     function goSearch(paging_num)
     {

        var start_date = document.getElementById('start_date').value;
        var end_date = document.getElementById('end_date').value;
        var searchBox = $('[name=search_box]').val();

        if(start_date == "" || end_date == "")
        {
            alert("날짜선택하세요");
            return false;
        }

        var newForm = $('<form></form>');

        newForm.attr("name", "deposit_search");
        newForm.attr("method", "post");
        newForm.attr("action", "/deposit_search/");

        newForm.append($('<input/>', {type: 'hidden', name: 'csrfmiddlewaretoken', value : '{{ csrf_token }}'}));
        newForm.append($('<input/>', {type: 'hidden', name: 'start_date', value : start_date }));
        newForm.append($('<input/>', {type: 'hidden', name: 'end_date', value : end_date }));
        newForm.append($('<input/>', {type: 'hidden', name: 'searchBox', value : searchBox }));
        newForm.append($('<input/>', {type: 'hidden', name: 'paging_num', value : paging_num }));

        newForm.appendTo('body');
        newForm.submit();

     }

     function change(user_id, pay_num)
     {
        var start_date = document.getElementById('start_date').value;
        var end_date = document.getElementById('end_date').value;
        var searchBox = $('[name=search_box]').val();

        if(start_date == "" || end_date == "")
        {
            alert("날짜선택하세요");
            return false;
        }

        var newForm = $('<form></form>');

        newForm.attr("name", "deposit_change");
        newForm.attr("method", "post");
        newForm.attr("action", "/deposit_change/");

        newForm.append($('<input/>', {type: 'hidden', name: 'csrfmiddlewaretoken', value : '{{ csrf_token }}'}));
        newForm.append($('<input/>', {type: 'hidden', name: 'start_date', value : start_date }));
        newForm.append($('<input/>', {type: 'hidden', name: 'end_date', value : end_date }));
        newForm.append($('<input/>', {type: 'hidden', name: 'searchBox', value : searchBox }));
        newForm.append($('<input/>', {type: 'hidden', name: 'user_id', value : user_id }));
        newForm.append($('<input/>', {type: 'hidden', name: 'pay_num', value : pay_num }));

        newForm.appendTo('body');
        newForm.submit();

     }

    </script>
</body></html>