{% load static %}
{% include "common/head_admin.html" %}

<div class="wrap">
    <div class="admin_sub_visual">
         <div class="tabs section_wrap">
            <ul>
                <li><a href="/deposit_list/">무통장 입금 조회</a></li>
                <li><a href="/pay_list/">구매 데이터 조회</a></li>
                <li><a href="/user_list/">사용자 조회</a></li>
                <li><a href="/refund_list/">환불</a></li>
                <li class="admin_active"><a href="/upload/">파일 업로드</a></li>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="https://admin.iamport.kr/users/login" target="_blank">아임포트 관리자</a></li>
                <li><a href="https://partner.danalpay.com/account/login?next=%2F#" target="_blank">다날 (휴대폰인증)</a></li>
                <li><a href="http://admin8.kcp.co.kr" target="_blank">KCP</a></li>
            </ul>
        </div>
    </div>

    <div class="codingLounge_list">
        <div class="filter_area fixed">
            <div class="search_area">
                <div class="input_area_admin">
                     <input type="date" name="start_date" id="start_date" value="{{start_date}}">
                </div>
                <div class="input_area_admin">
                     <input type="date" name="end_date" id="end_date" value="{{end_date}}">
                </div>
                <div class="input_area_admin" >
                     <input type="text" name="search_box" id="search_box" value='{{search}}' placeholder="아이디">
                </div>
                 <div class="btn_area">
                    <a class="btn" href="javascript:void(0);" onclick="javascript:goSearch(1);">&nbsp;조회하기&nbsp;</a>
                 </div>
            </div>
        </div>
    </div>

     <form action="/upload_file/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
        <input type="file" name="file1" accept="image/*" />
        <input type="submit" />
    </form>

    <div style="width: 1120px; font-size: 20px !important; padding-bottom:10px;">total : {{total_count}}</div>
    <div style="overflow: hidden; position: relative; border: 0px; width: 100%;">
        <table id="payList" style="width:100%;">
            <thread>
                <tr class="row">
                    <th class="admin_list">이름</th>
                     <th class="admin_list">결제일</th>
                    <th class="admin_list_id">주문번호</th>
                    <th class="admin_list_id">주문키트</th>
                    <th class="admin_list">키트가격</th>
                    <th class="admin_list">옵션</th>
                    <th class="admin_list">강의상태</th>
                    <th class="admin_list">결제방법</th>
                </tr>
            </thread>
            <tbody>
                {% for myclass in myclass_info %}
                <tr class="row">
                    <td class="admin_list_body">
                        <a href="javascript:alert('아이디 : {{myclass.user_id}}');">{{user_info.regi_name}}</a>
                    </td>
                    <td class="admin_list_body date"> {{myclass.start_time | date:'Y-m-d' }}</td>
                    <td class="admin_list_id_body">{{myclass.pay_num}}</td>
                    <td class="admin_list_body">
                        <a href="javascript:alert('키드번호 : {{myclass.prd.prd_code}}');">{{myclass.prd.title}}</a>
                    </td>
                    <td class="admin_list_body">{{myclass.prd.price}}원</td>
                    <td class="admin_list_body">
                        {% for order_list in order_info %}
                            {% if myclass.pay_num == order_list.pay_num %}
                                {% if myclass.prd.prd_code == order_list.prd.prd_code %}
                                    {% if order_list.option1_selectNum == 2 %}
                                        {{myclass.prd.option1}}({{myclass.prd.option1_price}}원)<br/>
                                    {% endif%}
                                    {% if order_list.option2_selectNum == 2 %}
                                        {{myclass.prd.option2}}({{myclass.prd.option2_price}}원)<br/>
                                    {% endif%}
                                    {% if order_list.option3_selectNum == 2 %}
                                        {{myclass.prd.option3}}({{myclass.prd.option3_price}}원)<br/>
                                    {% endif%}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="admin_list_body">
                        {% if myclass.play == 'D' %}
                        강의시작 X
                        {% else %}
                        <a href="javascript:alert('영상 : {{myclass.play_video}}, 시간: {{myclass.play_time}}');">강의시작 O</a>
                        {% endif %}
                    </td>
                    <td class="admin_list_body date">
                        {% for pay_list in pay_info %}
                            {% if myclass.pay_num == pay_list.pay_num %}
                                <input type="hidden" id="prd_price_{{forloop.counter0}}" name="prd_price_{{forloop.counter0}}" value="{{pay_list.prd_price}}">
                                <input type="hidden" id="delivery_price_{{forloop.counter0}}" name="delivery_price_{{forloop.counter0}}" value="{{pay_list.delivery_price}}">
                                <input type="hidden" id="prd_total_price_{{forloop.counter0}}" name="prd_total_price_{{forloop.counter0}}" value="{{pay_list.prd_total_price}}">

                                <a href="javascript:alert('총결제금액 : {{pay_list.prd_price}} + {{pay_list.delivery_price}} = {{pay_list.prd_total_price}} \n배송일:{{pay_list.delivery_time | date:'Y-m-d' }}');">{{pay_list.payWay.name}}</a>

                                {% if pay_list.payWay.value == 'deposit' %}
                                  <br/>{{pay_list.payWay_name}}
                                {% endif%}

                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div id="total_data" class="page"><span>조회 데이터가 없습니다.</span></div>
        <div class="page">
            <ul id="paging" class="pagination modal"></ul>
        </div>
    </div>
</div>


    <script>
     $(document).ready(function() {
       $('#status').val('{{status}}').prop("selected",true);
       $('#page_cnt').val('{{page_cnt}}').prop("selected",true);

       var total = '{{total_count}}';
       if (total == 0)
       {
            $("#total_data").show();
       }
       else
       {
            $("#total_data").hide();
       }


       var page = '{{last_page}}';
       var cur_page = '{{paging_num}}';

       page *= 1;

       for(var i = 1; i <= page; i ++)
       {
            if(i == cur_page)
                document.getElementById('paging').innerHTML += "<li><a href='javascript:void(0);' onclick='javascript:goSearch(" + i + ");' class='active num' >" + i + "</a></li>";
            else
                document.getElementById('paging').innerHTML += "<li><a href='javascript:void(0);' onclick='javascript:goSearch(" + i + ");' class='num' >" + i + "</a></li>";
       }

     });

     function goSearch(paging_num)
     {
        var start_date = document.getElementById('start_date').value;
        var end_date = document.getElementById('end_date').value;
        var searchBox = $('[name=search_box]').val();

        if(start_date > end_date)
        {
            alert("날짜 설정을 다시 해주세요");
            return false;
        }

        if(searchBox == "")
        {
            alert("검색 내용을 입력하세요.");
            return false;
        }

        var newForm = $('<form></form>');

        newForm.attr("name", "user_search");
        newForm.attr("method", "post");
        newForm.attr("action", "/user_search/");

        newForm.append($('<input/>', {type: 'hidden', name: 'csrfmiddlewaretoken', value : '{{ csrf_token }}'}));
        newForm.append($('<input/>', {type: 'hidden', name: 'start_date', value : start_date }));
        newForm.append($('<input/>', {type: 'hidden', name: 'end_date', value : end_date }));
        newForm.append($('<input/>', {type: 'hidden', name: 'searchBox', value : searchBox }));
        newForm.append($('<input/>', {type: 'hidden', name: 'paging_num', value : paging_num }));

        newForm.appendTo('body');
        newForm.submit();

     }
    </script>
</body></html>