{% load static %}
{% include "common/head_admin.html" %}

<div class="wrap">
    <div class="admin_sub_visual">
         <div class="tabs section_wrap">
            <ul>
                <li><a href="/deposit_list/">무통장 입금 조회</a></li>
                <li><a href="/pay_list/">구매 데이터 조회</a></li>
                <li><a href="/user_list/">사용자 조회</a></li>
                <li><a href="/refund_list/">환불</a></li>
                <li class="admin_active"><a href="/upload/">파일 업로드</a></li>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="https://admin.iamport.kr/users/login" target="_blank">아임포트 관리자</a></li>
                <li><a href="https://partner.danalpay.com/account/login?next=%2F#" target="_blank">다날 (휴대폰인증)</a></li>
                <li><a href="http://admin8.kcp.co.kr" target="_blank">KCP</a></li>
            </ul>
        </div>
    </div>

    <div class="codingLounge_list">
        <div>
              <select id="status" name="status" style="width:120px; height:35px; border:1px solid #d4d4d4; line-height:30px; font-size:15px;" onchange="change_form(this.value);">
               <option value=0>메뉴 선택</option>
               <option value='naverstore'>네이버 쇼핑</option>
               <option value='delivery'>배송 리스트</option>
               <option value='lounge'>라운지</option>
             </select>
        </div>
        <br/>

         <div id="naverstore" class="filebox">
             <form action="/upload_file/" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                 <input class="upload-name" value="runcodinglist_20201201 txt 파일" disabled="disabled" style="width:300px;">
                 <input type="hidden" value="naverstore" id="naver" name="naver">

                <label for="ex_filename">업로드 파일 선택</label>
                <input type="file" name="file" id="ex_filename" class="upload-hidden" accept="text/*" />
                <button type="button" onClick="javascript:submit();" style="border:1px solid #ebebeb; font-size:15px; border-radius: .25em; background-color: #e1a394; padding: .5em .75em;">업로드</button>
            </form>
         </div>

        <div id="delivery" class="filebox">
             <form action="/upload_file/" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                 <input class="upload-name" value="csv 파일선택" disabled="disabled">
                  <input type="hidden" value="delivery_list" id="delivery_id" name="delivery_id">

                <label for="delivery_filename">업로드 파일 선택</label>
                <input type="file" name="file" id="delivery_filename" class="upload-hidden" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <button type="button" onClick="javascript:submit();" style="border:1px solid #ebebeb; font-size:15px; border-radius: .25em; background-color: #e1a394; padding: .5em .75em;">업로드</button>
            </form>
         </div>

         <div id="upload_img" class="filebox">
             <form action="/upload_file/" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}

                 <input type="text" placeholder="라운지 제목" id="title" name="title">
                 <input type="text" placeholder="user" id="user" name="user">
                 <input type="text" placeholder="유투브 영상번호" id="video" name="video"><br/><br/>
                 <input type="text" placeholder="trashcan/neopixel/AI 중 1" id="kit" name="kit" style="width:600px;">

                 <br/><br/>

                 <input class="upload-name" value="이미지 파일선택" disabled="disabled">
                 <input type="hidden" value="lounge_list" id="img_id" name="img_id">

                <label for="img_filename">업로드 파일 선택</label>
                <input type="file" name="file" id="img_filename" class="upload-hidden" accept="image/*" />
                <button type="button" onClick="javascript:submit();" style="border:1px solid #ebebeb; font-size:15px; border-radius: .25em; background-color: #e1a394; padding: .5em .75em;">업로드</button>
            </form>
         </div>

        <div id="result">
            <p>{{txt}}</p>
        </div>

    </div>
</div>


    <script>
    $(document).ready(function(){
      $("#naverstore").hide();
      $("#delivery").hide();
      $("#upload_img").hide();

        var fileTarget = $('.filebox .upload-hidden');

        fileTarget.on('change', function()
        { // 값이 변경되면
            if(window.FileReader)
            { // modern browser
                var filename = $(this)[0].files[0].name;
            }
            else
            { // old IE
                var filename = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출
            }
            // 추출한 파일명 삽입
            $(this).siblings('.upload-name').val(filename);
        });
    });

    function change_form(value)
    {
        if(value == 'naverstore')
        {
           $("#naverstore").show();
           $("#delivery").hide();
           $("#upload_img").hide();
           $("#result").hide();
        }
        else if(value == 'delivery')
        {
           $("#delivery").show();
           $("#naverstore").hide();
           $("#upload_img").hide();
           $("#result").hide();
        }
        else if(value == 'lounge')
        {
           $("#delivery").hide();
           $("#naverstore").hide();
           $("#upload_img").show();
           $("#result").hide();
        }
    }

    </script>
</body></html>