{% load static %}
{% include "common/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'resource/css/login.css' %}" />

<div class="wrap login">
    <div class="loginBox">
        <h1>
            <a href="/"><img src="{% static 'resource/img/common/logo_login.png' %}" alt="런코딩"></a>
        </h1>
        <form id="login_form" method="post" action="/login_form/">
             {% csrf_token %}
            <div class="input_area">
                <input type="text" name="login_id" id="login_id" class="login_inp" placeholder="이메일을 입력해주세요." />
                <input type="password" name="login_pass" id="login_pass" class="login_inp" placeholder="비밀번호를 입력해주세요." />
            </div>
        </form>
        <div class="btn_area">
            <a href="javascript:void(0);" onClick="javascript:login_submit();" class="btn login">로그인</a>
            <a href="/regi/" class="link join">회원가입</a>
            <a href="#" class="link find">비밀번호 재설정</a>
        </div>

        <div class="snsLogin">
            <span>SNS계정 간편 로그인</span>
            <a href="#"><img src="{% static 'resource/img/common/ico_naver.png' %}" alt="네이버 계정으로 로그인"></a>
            <a href="#"><img src="{% static 'resource/img/common/ico_google.png' %}" alt="구글 계정으로 로그인"></a>
            <a href="#"><img src="{% static 'resource/img/common/ico_facebook.png' %}" alt="페이스북 계정으로 로그인"></a>
        </div>
    </div>
    <!-- find password modal -->
    <div data-ml-modal="" id="modal01">
        <a href="#" class="modal-overlay"></a>
        <div class="modal-dialog modal-dialog-lg findPW">
            <a href="#" class="modal-close">×</a>
            <h3>비밀번호 재설정</h3>
            <div class="modal-content">
                <span>회원님의 이메일로 비밀번호 재설정 링크를 보내드립니다.</span>
                <div class="input_area">
                    <input type="text" name="inp_login" id="" class="login_inp" placeholder="이메일을 입력해주세요.">
                </div>
                <div class="btn_area">
                    <a href="#" class="btn login">메일로 보내기</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function login_submit()
    {
        document.getElementById('login_form').submit();
    }

     function page_move(some_data) {
        var form = document.createElement("form");
        var parm = new Array();
        var input = new Array();

        form.action = url;
        form.method = "post";


        parm.push( ['some_key1', 'some_value1'] );
        parm.push( ['some_key2', 'some_value2'] );
        parm.push( ['some_data', some_data] );


        for (var i = 0; i < parm.length; i++) {
            input[i] = document.createElement("input");
            input[i].setAttribute("type", "hidden");
            input[i].setAttribute('name', parm[i][0]);
            input[i].setAttribute("value", parm[i][1]);
            form.appendChild(input[i]);
        }
        document.body.appendChild(form);
        form.submit();
    }
</script>


</body></html>