{% load static %}
{% include "common/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/login.css' %}">

<body>
    <div class="wrap login">
        <div class="loginBox join">
            <h1>
                <a href="/" class="logo">
                    <img src="{% static 'resource/img/common/logo_login.png' %}" alt="런코딩">
                </a>
            </h1>
        </div>
            <div class="join_area">
                <form id="register_form" method="post" action="/register/">
                    {% csrf_token %}
                    <div class="accountInfo">
                        <h2>계정 정보</h2>
                        <ul>
                             <li>
                             </li>
                             <li>
                             </li>
                            <li>
                                <span>이메일</span>
                                <div class="input_area">
                                     <input type="email" name="regi_email" id="regi_email" class="register" onkeyup="this.value=this.value.replace(/[^a-zA-Z-_0-9]/g," placeholder="정확히 입력해주세요." required>
                                    <button type="button" class="btn register w30" id="popbutton" onClick="javascript:regi_checkId();">중복체크</button>
                                </div>
                            </li>
                            <li>
                                <span>이름</span>
                                <div class="input_area">
                                    <input type="text" name="regi_name" id="regi_name" class="login_inp" required >
                                </div>
                            </li>
                            <li>
                                <span>휴대번호</span>
                                <div class="input_area">
                                    <input type="text" name="regi_phone" id="regi_phone" class="login_inp" maxlength="11" placeholder="- 없이 입력하세요." required >
                                </div>
                            </li>
                            <li>
                                <span>주소</span>
                                <div class="input_area multiLine">
                                    <input type="text" name="regi_add01" id="regi_add01" class="login_inp add01 w70" readonly required/>
                                        <button type="button" class="btn address w30" onClick="javascript:getAddress();">주소찾기</button>
                                    <input type="text" name="regi_add02" id="regi_add02" class="login_inp add02" readonly required/>
                                    <input type="text" name="regi_add03" id="regi_add03" class="login_inp add03" placeholder="상세주소를 입력해주세요." required/>
                                </div>
                            </li>
                            <li>
                                <span>비밀번호</span>
                                <div class="input_area">
                                    <input type="password" name="regi_pass" id="regi_pass" class="login_inp"  onkeyup="this.value=this.value.replace(/[^a-zA-Z-_0-9]/g," placeholder="영문 + 숫자 8자 이상 입력해주세요." required>
                                </div>
                            </li>
                            <li>
                                <span>비밀번호 확인</span>
                                <div class="input_area">
                                    <input type="password" name="regi_pass_chk" id="regi_pass_chk" class="login_inp" onkeyup="this.value=this.value.replace(/[^a-zA-Z-_0-9]/g,"  placeholder="비밀번호를 다시 입력해주세요." required>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>

                <div class="terms_area">
                    <h2>이용약관</h2>
                    <div class="terms01">
                        <div class="input_area">
                            <input type="checkbox" name="terms01" id="terms01" class="chk_terms" onClick="javascript:termFlag();" required>
                            <label for="terms01">이용약관에 동의합니다.</label>
                            <a href="#" class="btn">내용 보기</a>
                        </div>
                    </div>
                    <h2>개인정보처리방침</h2>
                    <div class="terms02">
                        <div class="input_area">
                            <input type="checkbox" name="terms02" id="terms02" class="chk_terms" required>
                            <label for="terms02">개인정보처리방침에 동의합니다.</label>
                            <a href="#" class="btn">내용 보기</a>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="btn login" onClick="javascript:regi_submit();">회원가입</a>
                </div>
            </div>
    </div>

    {% include "common/banner_bottom.html" %}
    {% include "common/footer.html" %}
</div>

    <!--  address script -->
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/css/animate.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/css/jquery.modal.css" />
<script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/jquery.modal.js"></script>
<script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/modal.js"></script>

<script>

    var chkId = 0;
    var chkAddr = 0 ;

    function regi_checkId()
    {
        var email_patten = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;  // 이메일이 적합한지 검사할 정규식
        var email = document.getElementById('regi_email');

        if(!email_patten.test(email.value))
        {
            $("#res_msg").text("이메일 주소 형식을 맞춰주세요. (ex.runcoding@***.com)");
            $('div.modal').modal();
            chkId = 0;
            return false;
        }
        else
        {
            var regi_frm = $('#register_form');

             $.ajax({
                data: regi_frm.serialize(),
                type: 'post',
                url: '/check_id/',
                dataType: 'json',
                success:function(result){
                    if(result == 200)
                    {
                         $("#res_msg").text("사용할 수 있습니다.");
                          chkId = 1;
                    }
                    else
                    {
                        $("#res_msg").text("등록된 이메일 주소 입니다.");
                        email.value = "";
                        chkId = 0;

                    }
                   $('div.modal').modal();
                }
             });

        }
    }

    function regi_submit()
    {
        //(아이디는 8~12자의 영문 대소문자와 숫자로만 입력) (패스워드는 8~12자의 영문 대소문자와 숫자로만 입력)
        var pass_patten = /^[a-zA-Z0-9]{8,12}$/ // 아이디와 패스워드가 적합한지 검사할 정규식
        var email_patten = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;  // 이메일이 적합한지 검사할 정규식

        var name = document.getElementById('regi_name');
        var phone = document.getElementById('regi_phone');
        var email = document.getElementById('regi_email');

        var address01 = document.getElementById('regi_add01');
        var address02 = document.getElementById('regi_add02');
        var address03 = document.getElementById('regi_add03');

        var pass = document.getElementById('regi_pass');
        var pass_chk = document.getElementById('regi_pass_chk');

        if(email.value == "")
        {
            $("#res_msg").text("이메일 주소를 입력하세요.");
            $('div.modal').modal();
            return false;
        }
         else
        {
            if(!email_patten.test(email.value))
            {
                $("#res_msg").text("이메일 주소 형식을 맞춰주세요. (ex.runcoding@***.com)");
                $('div.modal').modal();
                return false;
            }
            if(!chkId)
            {
                $("#res_msg").text("중복체크 해주세요.");
                $('div.modal').modal();
                return false;
            }
        }

        if(name.value == "")
        {
            $("#res_msg").text("이름을 입력하세요.");
            $('div.modal').modal();
            return false;
        }

        if(phone.value == "")
        {
            $("#res_msg").text("휴대폰 번호를 입력하세요.");
            $('div.modal').modal();
            return false;
        }


        if(address01.value == "" || address02.value == "" || address03.value == "")
        {
            $("#res_msg").text("주소를 입력하세요.");
            $('div.modal').modal();
            return false;
        }

       if(pass.value.length == 0 || pass_chk.value.length < 8)
        {
            $("#res_msg").text("비밀번호는 8~12자의 영문과 숫자로만 입력하세요.");
            $('div.modal').modal();
            return false;
        }
        else
        {
            if(!pass_patten.test(pass.value))
            {
                $("#res_msg").text("비밀번호는 8~12자의 영문과 숫자로만 입력하세요.");
                $('div.modal').modal();
                return false;
            }

            if(pass.value != pass_chk.value)
            {
                $("#res_msg").text("비밀번호와 비밀번호 확인 번호가 다릅니다.");
                $('div.modal').modal();
                pass_chk.value = "";
                return false;
            }
        }

        if(email.value == pass.value)
        {
            $("#res_msg").text("아이디와 같은 비밀번호를 사용할 수 없습니다.");
            $('div.modal').modal();
            pass.value="";
            pass_chk.value = "";
            return false;

        }

        if($("input:checkbox[name=terms01]").is(":checked") == false)
        {
            $("#res_msg").text("이용약관에 동의해 주세요.");
            $('div.modal').modal();
            $("input:checkbox[name=terms01]").focus();
            return false;
        }

        if($("input:checkbox[name=terms02]").is(":checked") == false)
        {
            $("#res_msg").text("개인정보 처리방침에 동의해주세요.");
            $('div.modal').modal();
            $("input:checkbox[name=terms02]").focus();
            return false;
        }

        document.getElementById('register_form').submit();
    }

    <!-- 우편번호 검색을 위한 script -->
    function getAddress()
    {
        chkAddr = 1;
        new daum.Postcode({
            oncomplete: function(data)
            {
                $('[name=regi_add01]').val(data.zonecode); // 우편번호 (5자리)
                $('[name=regi_add02]').val(data.address);
                $('[name=regi_add03]').val(data.buildingName);
            }
	    }).open();

	    return true;
	}
</script>

</body></html>