{% load static %}
{% include "common/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/login.css' %}">

<body>
    <div class="wrap login">
        <div class="loginBox join">
            <h1>
                <a href="/" class="logo">
                    <img src="{% static 'resource/img/common/logo_login.png' %}" alt="런코딩">
                </a>
            </h1>
        </div>
        <form id="popup_form" method="post" action="/popup/">
            {% csrf_token %}
             <input type="hidden" name="popup_regiId" id="popup_regiId" value="">
             <input type="hidden" name="message" value="{{popup_message}}" readonly>
             <input type="hidden" name="regiId" value="{{regiId}}" readonly>
        </form>
            <div class="join_area">
                <form id="register_form" method="post" action="/register/">
                    {% csrf_token %}
                    <div class="accountInfo">
                        <h2>계정 정보</h2>
                        <ul>
                            <li>
                                <span>아이디</span>
                                <div class="input_area">
                                        <input type="text" name="regi_id" id="regi_id" class="register" minlength="8" maxlength="12" onkeyup="this.value=this.value.replace(/[^a-zA-Z-_0-9]/g," placeholder="영문 + 숫자 8자 이상 입력해주세요."/>
                                        <button type="button" class="btn register w30" onClick="javascript:regi_checkId();">중복체크</button>
                                    </form>
                                </div>
                            </li>
                            <li>
                                <span>이름</span>
                                <div class="input_area">
                                    <input type="text" name="regi_name" id="regi_name" class="login_inp" required >
                                </div>
                            </li>
                            <li>
                                <span>휴대번호</span>
                                <div class="input_area">
                                    <input type="text" name="regi_phone" id="regi_phone" class="login_inp" maxlength="11" placeholder="- 없이 입력하세요." required >
                                </div>
                            </li>
                            <li>
                                <span>이메일</span>
                                <div class="input_area">
                                    <input type="email" name="regi_email" id="regi_email" class="login_inp" onkeyup="this.value=this.value.replace(/[^a-zA-Z-_0-9]/g," required>
                                </div>
                            </li>
                            <li>
                                <span>키트 받을 주소</span>
                                <div class="input_area multiLine">
                                    <input type="text" name="regi_add01" id="regi_add01" class="login_inp add01 w70" readonly required/>
                                        <button type="button" class="btn address w30" onClick="javascript:getAddress();">주소찾기</button>
                                    <input type="text" name="regi_add02" id="regi_add02" class="login_inp add02" readonly required/>
                                    <input type="text" name="regi_add03" id="regi_add03" class="login_inp add03" placeholder="상세주소를 입력해주세요." required/>
                                </div>
                            </li>
                            <li>
                                <span>비밀번호</span>
                                <div class="input_area">
                                    <input type="password" name="regi_pass" id="regi_pass" class="login_inp"  onkeyup="this.value=this.value.replace(/[^a-zA-Z-_0-9]/g," placeholder="영문 + 숫자 8자 이상 입력해주세요." required>
                                </div>
                            </li>
                            <li>
                                <span>비밀번호 확인</span>
                                <div class="input_area">
                                    <input type="password" name="regi_pass_chk" id="regi_pass_chk" class="login_inp" onkeyup="this.value=this.value.replace(/[^a-zA-Z-_0-9]/g,"  placeholder="비밀번호를 다시 입력해주세요." required>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>

                <div class="terms_area">
                    <h2>이용약관</h2>
                    <div class="terms01">
                        <div class="input_area">
                            <input type="checkbox" name="terms01" id="terms01" class="chk_terms" onClick="javascript:termFlag();" required>
                            <label for="terms01">이용약관에 동의합니다.</label>
                            <a href="#" class="btn">내용 보기</a>
                        </div>
                    </div>
                    <h2>개인정보처리방침</h2>
                    <div class="terms02">
                        <div class="input_area">
                            <input type="checkbox" name="terms02" id="terms02" class="chk_terms" required>
                            <label for="terms02">개인정보처리방침에 동의합니다.</label>
                            <a href="#" class="btn">내용 보기</a>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="btn login" onClick="javascript:regi_submit();">회원가입</a>
                </div>
            </div>
    </div>


    {% include "common/banner_bottom.html" %}
    {% include "common/footer.html" %}
</div>

    <!--  address script -->
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!--<script src="{% static 'resource/js/jquery-ajax-runcoding.js' %}"></script>-->


<script>

    var chkId = 0;
    var chkAddr = 0 ;
    // hamberger menu
    $('.menu-btn').click(function() {
        $('.line').toggleClass('animate');
    });
    // hamberger menu
    // navigation
    $(document).ready(function() {
        $(".gnbClose, .gnbOpen").on("click", function(){
            $(".gnb").toggleClass("active");
            $(".gnbOpen").toggleClass("gnbClose");
            $("html, body, .wrap").toggleClass("open");
            $('html, body, .wrap').off('scroll touchmove mousewheel');
        });

        var remote_result = $("input[type=hidden][name=message]").val();
        if(remote_result != "")
        {
            if(remote_result == 208)
             {
                 alert("사용할 수 없는 ID 입니다.");
                 document.getElementById("regi_id").value = "";
             }
             else if(remote_result == 200)
             {
                 alert("사용할 수 있는 ID 입니다.");
                 document.getElementById("regi_id").value = $("input[type=hidden][name=regiId]").val()
             }
        }
    });

    var popup_window;
    function regi_checkId()
    {
        var id_pass_patten = /^[a-zA-Z0-9]{8,12}$/ // 아이디와 패스워드가 적합한지 검사할 정규식
        var id = document.getElementById('regi_id');
        chkId = 1;

        if(!id_pass_patten.test(id.value))
        {
            alert("아이디는 8~12자의 영문과 숫자로만 입력하세요");
            chkId = 0;
            id.focus();
            return false;
        }
        else
        {
            $("input[type=hidden][name=popup_regiId]").val(id.value);
             document.getElementById("popup_form").submit();
        }
    }

    function regi_submit()
    {
        //(아이디는 8~12자의 영문 대소문자와 숫자로만 입력) (패스워드는 8~12자의 영문 대소문자와 숫자로만 입력)
        var id_pass_patten = /^[a-zA-Z0-9]{8,12}$/ // 아이디와 패스워드가 적합한지 검사할 정규식
        var email_patten = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;  // 이메일이 적합한지 검사할 정규식

        var id = document.getElementById('regi_id');
        var name = document.getElementById('regi_name');
        var phone = document.getElementById('regi_phone');
        var email = document.getElementById('regi_email');

        var address01 = document.getElementById('regi_add01');
        var address02 = document.getElementById('regi_add02');
        var address03 = document.getElementById('regi_add03');

        var pass = document.getElementById('regi_pass');
        var pass_chk = document.getElementById('regi_pass_chk');

        if(id.value.length == 0 || id.value.length < 8)
        {
            alert("아이디는 8~12자의 영문과 숫자로만 입력하세요");
            id.focus();
            return false;
        }
        else
        {
            if(!chkId)
            {
                alert("아이디 중복체크 해주세요.");
                return false;
            }

            var remote_result = $("input[type=hidden][name=message]").val();
            if(remote_result == 208)
            {
                alert("아이디 중복체크 해주세요.");
                return false;
            }

            if(!id_pass_patten.test(id.value))
            {
                alert("아이디는 8~12자의 영문과 숫자로만 입력하세요");
                id.focus();
                return false;
            }
        }

        if(name.value == "")
        {
            alert("이름을 입력하세요.");
            name.focus();
            return false;
        }

        if(phone.value == "")
        {
            alert("휴대폰 번호를 입력하세요.");
            phone.focus();
            return false;
        }

        if(email.value == "")
        {
            alert("이메일 주소를 입력하세요.");
            email.focus();
            return false;
        }
         else
        {
            if(!email_patten.test(email.value))
            {
                alert("이메일 주소 형식을 맞춰주세요. (ex.runcoding@***.com)");
                email.focus();
                return false;
            }
        }

        if(address01.value == "" || address02.value == "" || address03.value == "")
        {
            alert("주소를 입력하세요.");
            address03.focus();
            return false;
        }

       if(pass.value.length == 0 || pass_chk.value.length < 8)
        {
            alert("비밀번호는 8~12자의 영문과 숫자로만 입력하세요");
            pass.focus();
            return false;
        }
        else
        {
            if(!id_pass_patten.test(pass.value))
            {
                alert("비밀번호는 8~12자의 영문과 숫자로만 입력하세요");
                pass.focus();
                return false;
            }

            if(pass.value != pass_chk.value)
            {
                alert("비밀번호와 비밀번호 확인 번호가 다릅니다.");
                pass_chk.focus();
                pass_chk.value = "";
                return false;
            }
        }

        if(id.value == pass.value)
        {
            alert("아이디와 같은 비밀번호를 사용할 수 없습니다.");
            pass.value="";
            pass_chk.value = "";
            pass.focus();
            return false;

        }

        if($("input:checkbox[name=terms01]").is(":checked") == false)
        {
            alert("이용약관에 동의해 주세요.");
            $("input:checkbox[name=terms01]").focus();
            return false;
        }

        if($("input:checkbox[name=terms02]").is(":checked") == false)
        {
            alert("개인정보 처리방침에 동의해주세요.");
            $("input:checkbox[name=terms02]").focus();
            return false;
        }


        document.getElementById('register_form').submit();
    }

    <!-- 우편번호 검색을 위한 script -->
    function getAddress()
    {
        chkAddr = 1;
        new daum.Postcode({
            oncomplete: function(data)
            {
                $('[name=regi_add01]').val(data.zonecode); // 우편번호 (5자리)
                $('[name=regi_add02]').val(data.address);
                $('[name=regi_add03]').val(data.buildingName);
            }
	    }).open();

	    return true;
	}
</script>

</body></html>