{% include "common/header.html" %}
{% load static %}

<div class="wrap">
<section class="sub_visual">
    <div class="section_wrap">
        <div class="slogan community">
                    <span class="bigSlg">
                        런코딩 커뮤니티를 통해<br />
                        궁금증을 해결해 봐요.
                    </span>
            <p>
                자주하는 질문들을 모아 보았습니다.<br/>
                이외의 궁금증은 master@runcoding.co.kr로 문의주세요!
            </p>
        </div>
        <img class="subVisual review" src="{% static 'resource/img/sub/sv_community.png' %}" alt="커뮤니티">
    </div>
</section>
<!-- sub visual -->

<!-- community table -->
<div class="board_community">
        <ul class="">
            <li class="">
            </li>

             <li class="">
                 <a href="javascript:getWithCategory('all');"><div class="text_area" >All</div></a>
            </li>
            {% for categoryList in category_list %}
            <li class="">
               <a href="javascript:void(0);" onclick="javascript:getWithCategory({{categoryList.category_idx}});"><div class="text_area">{{categoryList.name}}</div></a>
            </li>
            {%endfor%}
            <li class="">
            </li>
        </ul>
        <div class="accordion" style="padding-left:25px;">
             {% for comunityList in comunity_list %}
                <input type="radio" name="accordion" id="{{comunityList.label_name}}">
                <label for="{{comunityList.label_name}}">{{forloop.counter}}. {{comunityList.title}}<em></em></label>
                <div>
                    <p>
                        {{comunityList.description}}

                        {% if comunityList.sub_description1 != "" %}
                        <br/>{{comunityList.sub_description1}}
                        {% endif%}

                        {% if comunityList.sub_description2 != "" %}
                        <br/>{{comunityList.sub_description2}}
                        {% endif%}
                    </p>
                </div>
            {% endfor %}
        </div>
</div>

    {% include "common/banner_bottom.html" %}
    {% include "common/footer.html" %}

    <script>
        function getWithCategory(data)
        {
            var newForm = $('<form></form>');

            newForm.attr("name", "comunity");
            newForm.attr("method", "post");
            newForm.attr("action", "/get_category/");

            newForm.append($('<input/>', {type: 'hidden', name: 'csrfmiddlewaretoken', value : '{{ csrf_token }}'}));
            newForm.append($('<input/>', {type: 'hidden', name: 'category_idx', value : data }));

            newForm.appendTo('body');
            newForm.submit();

        }

    </script>


</body>
</html>
