
{% include "common/header.html" %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/order.css' %}">
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<!-- content -->
<div class="wrap">
     <section class="sub_visual">
        <div class="section_wrap">
            <div class="slogan">
                <span class="bigSlg ck_title">
                   장바구니
                </span>

            </div>
            <img class="subVisual codingKit" src="{% static 'resource/img/sub/sv_codingKit.png' %}" alt="코딩키트">
        </div>
    </section>

    <tr id="orderDiv" > <!--style="display: none" -->
         <div class="container margin-top-40">
             <tr class="row">
                  <div class="col-xs-offset-1 col-xs-10">
                      <div class="row">
                        <div class="col-xs-12">
                            <h2 class="margin-none"><b>주문하기</b></h2>
                        </div>
                      </div>

                      <tr class="row">
                          <div class="col-xs-12">
                             <div class="panel panel-default border-radius-none margin-top-30">
                                  <div class="panel-body">

                                      <!-- table -->
                                      <table class="order-table">
                                            <colgroup>
                                                 <col width="3%" />
                                                <col width="10%" />
                                                <col width="20%" />
                                                <col width="20%" />
                                                <col width="10%" />
                                                <col width="15%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <thead class="order-package">
                                            <tr>
                                                <th class="text-center">&nbsp;</th>
                                                <th class="text-center">&nbsp;</th>
                                                <th class="text-left">상품</th>
                                                <th class="text-left">옵션 선택</th>
                                                <th class="text-center">판매가</th>
                                                <th class="text-center">수량선택</th>
                                                <th class="text-left">배송구분</th>
                                                <th class="text-right">배송비</th>
                                            </tr>
                                            </thead>
                                          <form id="order_form" method="post" action="/run_pay/">
                                            {% csrf_token %}
                                              <tbody class="order-option">
                                              {% for orderDetail in order_detail %}
                                                <tr>
                                                    <input type="hidden" id="len" name="len" value="0">
                                                    <input type="hidden" id="addr_num" name="addr_num" value="0">
                                                    <input type="hidden" id="total_prd_price" name="total_prd_price" value="0">
                                                    <input type="hidden" id="total_option_price" name="total_option_price" value="0">
                                                    <input type="hidden" id="total_option_prd_price" name="total_option_prd_price" value="0">
                                                    <td>
                                                        <input type="hidden" name="orderIdxs_{{forloop.counter0}}" value={{orderDetail.order_idx}}>
                                                        <input type="hidden" id="len" name="len" value="0">
                                                        <input type="checkbox" name="idxs[]" value={{forloop.counter0}} checked onClick="javascript:check();">
                                                    </td>
                                                    <td>
                                                         <div class="pull-left">
                                                               <a href='{{orderDetail.prd.urls}}'>
                                                                   <img class="width-120px border-radius" src={{orderDetail.prd.img}} onError="this.onerror=null;this.src='/img/404/no_gig_sm_image.jpg';">
                                                               </a>
                                                         </div>
                                                    </td>
                                                    <td>
                                                         <div class="pull-left">
                                                             <span>{{orderDetail.prd.title}}</span>
                                                         </div>
                                                    </td>
                                                    <td>
                                                        <div id="prdModify">
                                                            <li>
                                                                <select id="options_{{forloop.counter0}}" name="options_{{forloop.counter0}}" style="float:right; width:200px; height:24px; border:1px solid #d4d4d4; line-height:24px; font-size:12px;">
                                                                    <option value="">------필수옵션-------</option>
                                                                    <option value="20200905">{{orderDetail.prd.option}}</option>
                                                                </select>
                                                            </li>
                                                        </div>
                                                    </td>
                                                    <td >
                                                        <div id="prd_price_{{forloop.counter0}}" style="float:left; margin-left:20px;">
                                                            <strong>{{orderDetail.prd.price}}</strong>
                                                         </div>
                                                        <div style="float:left;">
                                                            <strong>원</strong>
                                                         </div>
                                                    </td>
                                                    <td class="quantity_td" >
                                                        <span class="quantity">
                                                            <input type="text" name="prodQuantity_{{forloop.counter0}}" id="prodQuantity_{{forloop.counter0}}" class="input quantity" value={{orderDetail.count}} >
                                                            <a href="javascript:up('10','{{forloop.counter0}}')" style="color: #000;">
                                                                <img src="{% static 'resource/img/sub/btn_quantity_up.gif' %}" alt="증가" class="QuantityUp">
                                                            </a>
                                                            <a href="javascript:down('1', '{{forloop.counter0}}')" style="color: #000;">
                                                                <img src="{% static 'resource/img/sub/btn_quantity_down.gif' %}" alt="감소" class="QuantityDown">
                                                            </a>
                                                        </span>
                                                    </td>
                                                    <td>
                                                       <strong>{{orderDetail.delivery}}</strong>
                                                    </td>
                                                    <td>
                                                       <div id="prd_option_price_{{forloop.counter0}}" style="float:left;">
                                                            {% if forloop.counter0 == 0 %}
                                                            <strong>{{orderDetail.delivery_price}}</strong>
                                                            {% else %}
                                                            <strong>0</strong>
                                                            {%endif%}
                                                         </div>
                                                        <div style="float:left;">
                                                            <strong>원</strong>
                                                         </div>
                                                    </td>
                                                </tr>
                                              {% endfor %}
                                              </tbody>
                                          </form>
                                      </table>
                                 </div>
                             </div>
                        </div>
                    </div>
                  </tr>

                 <!-- 총금액 -->
                 <tr class="row">
                      <div class="col-xs-offset-1 col-xs-10">
                          <div class="row">
                              <div class="col-xs-12">
                                 <div class="border-radius-none margin-top-30">
                                      <div>
                                          <div class="margin-top-40 xans-order-totalsummary">
                                          <table summary>
                                             <colgroup>
                                                 <col style="width:23%;">
                                                 <col style="width:24%;">
                                                 <col style="width:23%;" class="displaynone">
                                                 <col style="width:auto;">
                                             </colgroup>
                                             <thead>
                                                <tr>
                                                    <th scope="col" class="text-center">
                                                        <span>총 상품 금액</span>
                                                    </th>
                                                     <th scope="col" class="text-center">
                                                        <span>총 배송비</span>
                                                    </th>
                                                     <th scope="col" class="text-center">
                                                        <span>결제 예상 금액</span>
                                                    </th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                             <tr>
                                                 <td>
                                                    <div id="div_total_prd_price" class="box" style="padding-left:30%; float:left; margin-right:10px;">
                                                        <strong>90000</strong>
                                                        <span class="tail displaynone"></span>
                                                    </div>
                                                     <div style="float:left;">
                                                        <strong>원</strong>
                                                     </div>
                                                 </td>
                                                 <td >
                                                    <div id="div_total_option_price" class="box" style="padding-left:35%; float:left; margin-right:10px;">
                                                        <strong>3000</strong>
                                                        <span class="tail displaynone"></span>
                                                    </div>
                                                     <div style="float:left;">
                                                        <strong>원</strong>
                                                     </div>
                                                 </td>
                                                 <td >
                                                    <div id="div_total_option_prd_price" class="box"  style="padding-left:40%; float:left; margin-right:10px;">
                                                        <strong>93000</strong>
                                                        <span class="tail displaynone"></span>
                                                    </div>
                                                     <div style="float:left;">
                                                        <strong>원</strong>
                                                     </div>
                                                 </td>
                                             </tr>
                                             </tbody>
                                         </table>
                                     </div>
                                 </div>
                              </div>
                          </div>
                      </div>
                    </div>
                 </tr>

                 <!-- 결제방법 -->
                 <tr class="row">
                  <div class="col-xs-offset-1 col-xs-10">
                        <div>
                            <div class="col-xs-12">
                                 <div class="panel panel-default border-radius-none margin-top-30">
                                      <div class="panel-heading bg-color-gray font-14"><strong>결제방법</strong></div>
                                      <div class="panel-body padding-all-15 font-14">
                                           <ui class="margin-bottom-0">
                                               <li>
                                                   <div style="width:100px; padding-right:10px">
                                                        <input type="radio" checked>
                                                        <span>신용카드</span>
                                                   </div>

                                               </li>
                                           </ui>
                                      </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                  </tr>

                    <!-- 배송지 -->
                    <tr class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                            <div>
                                <div class="col-xs-12">
                                     <div class="panel panel-default border-radius-none margin-top-30">
                                          <div class="panel-heading bg-color-gray font-14"><strong>배송지</strong></div>
                                              <div class="panel-body">
                                                  {% for userDetail in user_detail %}
                                                   <div class="row padding-all-15 col-xs-3 border-dashed-right" style="display:inline-block;">
                                                       <div class="font-16">
                                                           <input name="addr" type="radio" value="1"checked>
                                                           <strong>{{userDetail.regi_receiver1_name}}</strong>(기본 배송지)
                                                       </div>
                                                       <div class="font-16">
                                                           {{userDetail.regi_receiver1_add02}}
                                                           {{userDetail.regi_receiver1_add03}}
                                                           ({{userDetail.regi_receiver1_add01}})
                                                       </div>
                                                        <div class="font-16">
                                                           {{userDetail.regi_phone}}
                                                       </div>
                                                   </div>
                                                  <div class="row col-xs-3" style="padding-left:50px; display:inline-block; ">
                                                      {% if userDetail.regi_receiver2_name != "" %}
                                                      <div class="font-16">
                                                          <input name="addr" value="2" type="radio">
                                                          <strong>{{userDetail.regi_receiver2_name}}</strong>
                                                       </div>
                                                       <div class="font-16">
                                                           {{userDetail.regi_receiver2_add02}}
                                                           {{userDetail.regi_receiver2_add03}}
                                                           ({{userDetail.regi_receiver2_add01}})
                                                       </div>
                                                      <div class="font-16">
                                                           {{userDetail.regi_phone}}
                                                       </div>
                                                      {% endif %}
                                                  </div>
                                                  {%endfor%}
                                              </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </tr>

                    <!-- 유의사항 -->
                    <tr class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                            <div>
                                <div class="col-xs-12">
                                     <div class="panel panel-default border-radius-none margin-top-30">
                                          <div class="panel-heading bg-color-gray font-14"><strong>알려드립니다.</strong></div>
                                          <div class="panel-body color-light-yellow">
                                               <div class="row">
                                                   <div class="col-xs-7 padding-right-30 border-dashed-right"></div>
                                               </div>
                                          </div>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </tr>
                </div>
                <div class="btn-center">
<!--                    <a href="#" class="btn order_save">저장하기</a> 논의 후 개발-->
                    <a href="#" class="btn order_complete" onClick="javascript:goPay();">주문하기</a>
                </div>
             </tr>
         </div>
    </tr>
</div>

{% include "common/banner_bottom.html" %}
{% include "common/footer.html" %}
    <script>
        function removeComma(str)
       {
          n = parseInt(str.replace(/,/g,""));
          return n;
       }

       function numberWithCommas(x)
       {
           return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }


        $('.menu-btn').click(function() {
            $('.line').toggleClass('animate');
        });

         $(document).ready(function() {
            if($("input[type=hidden][name=clientId]").val() == "")
            {
                $("#res_msg").text("로그인이 필요합니다.");
                $('div.modal').modal();
            }
            else
            {
                total_count();

                if('{{ pay_result }}' == 1)
                {
                    $("#res_msg").text('{{ pay_msg }}');
                    $('div.modal').modal();
                }
             }
         });

         function goPay()
         {
            var chks = document.getElementsByName('idxs[]');
            var check_len = 0;
             for (var i=0,m=chks.length;i<m ;i++)
             {
                if (chks[i].checked == true)
                {
                    prd_option_name = "options_" + i;
                    var select_id = document.getElementById(prd_option_name);
                    if(select_id.selectedIndex == 0)
                    {
                         $("#res_msg").text("필수 옵션을 선택해 주세요.");
                         $('div.modal').modal();
                         return false;
                    }
                    else
                        check_len++;
                }
             }

             if(check_len > 0)
             {

                 var addr_checked = $(":input:radio[name=addr]:checked").val();
                 $("input[type=hidden][name=len]").val(check_len);
                 $("input[type=hidden][name=addr_num]").val(addr_checked);
                 document.getElementById("order_form").submit();
             }
         }

        // 수량 더하기
        function up(max, id)
        {
            var quantity_name = "prodQuantity_" + id;
            var quantity = document.getElementById(quantity_name).value = parseInt(document.getElementById(quantity_name).value) + 1;
            if (document.getElementById(quantity_name).value >= parseInt(max))
                document.getElementById(quantity_name).value = max;

            total_count();

        }
        function down(min, id) {
            var quantity_name = "prodQuantity_" + id;
            var quantity = document.getElementById(quantity_name).value = parseInt(document.getElementById(quantity_name).value) - 1;
            if (document.getElementById(quantity_name).value <= parseInt(min))
                document.getElementById(quantity_name).value = min;

            total_count();
        }

        // total 금액 계산하기
        function total_count()
        {
            var chks = document.getElementsByName('idxs[]');

            var prd_price = 0;
            var prd_total_price = 0;
            var option = 0;
            var count = 1;
            var first = 1;

            var prd_price_name;
            var quantity_name;
            var prd_option_name;
            var total_summary_price = 0;

            for (var i=0,m=chks.length;i<m ;i++)
            {
                prd_price_name = "prd_price_" + i;
                quantity_name = "prodQuantity_" + i;
                prd_option_name ="prd_option_price_" + i;

                prd_price_format = numberWithCommas(document.getElementById(prd_price_name).innerText);

				if (chks[i].checked == true)
				{
				    // 여러 상품 중 하나만 배송비 표시하기 위한 변수
				    prd_price = document.getElementById(prd_price_name).innerText;
				    prd_price = removeComma(prd_price);
				    count = document.getElementById(quantity_name).value;
                    prd_total_price =  parseInt(prd_price) * count;
                    if(first == 1)
                    {
                        option = 3000
                        document.getElementById(prd_option_name).innerHTML = "<strong>" + numberWithCommas(option) + "</<strong>";
                        first++;
                    }
                    else
                        document.getElementById(prd_option_name).innerHTML = "<strong>" + 0 + "</<strong>";

                    total_summary_price += prd_total_price;
				}
				else
				    document.getElementById(prd_option_name).innerHTML = "<strong>" + 0 + "</<strong>";

				document.getElementById(prd_price_name).innerText = prd_price_format;
			}

			 if (total_summary_price >= 100000 || total_summary_price == 0)
                document.getElementById("div_total_option_price").innerHTML = "<strong>" + numberWithCommas(option) + "</<strong>";
             else
             {
                option = 3000
                document.getElementById("div_total_option_price").innerHTML = "<strong>" + numberWithCommas(option) + "</<strong>";
             }

            var total = total_summary_price + parseInt(option);

            document.getElementById("div_total_prd_price").innerHTML = "<strong>" + numberWithCommas(total_summary_price) + "</<strong>";
			document.getElementById("div_total_option_prd_price").innerHTML = "<strong>" + numberWithCommas(total) + "</<strong>";

			$("input[type=hidden][name=total_prd_price]").val(total_summary_price);
			$("input[type=hidden][name=total_option_price]").val(option);
            $("input[type=hidden][name=total_option_prd_price]").val(total);
        }

        function check()
        {
			total_count();
		}


    </script>
</body>
</html>
