<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>코딩키트 | 머릿속 생각을 쉽게,뚝딱 런코딩</title>
    <meta name="description" content="" />
    <meta name="Keywords" content="runcoding" />
    <meta http-equiv="Copyright" content="" />
<!--        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="robots" content="index,follow">
    <meta name="format-detection" content="telephone=no" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="runcoding">
    <meta property="og:description" content="runcoding">
    <meta property="og:image" content="{% static 'resource/img/common/share_img.jpg' %}">

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'resource/img/common/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'resource/img/common/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/font-awesome.min.css' %}">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/slick-theme.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/layout.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/order.css' %}" />

    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<!--<script>-->
<!--var elearning_url       = "https://www.runcoding.co.kr"; var elearning_bbs_url   = "https://www.runcoding.co.kr/bbs"; var elearning_is_member = ""; var elearning_is_admin  = ""; var elearning_is_mobile = "0"; var elearning_bo_table  = ""; var elearning_sca       = ""; var elearning_editor    = ""; var elearning_cookie_domain = ""; </script>-->

    <script src="{% static 'resource/js/vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'resource/js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'resource/js/vendor/modernizr-3.7.1.min.js' %}"></script>
    <script src="{% static 'resource/js/common.js?ver=20200730001' %}"></script>
    <script src="{% static 'resource/js/wrest.js?ver=20200730001' %}"></script>
</head>

<body>
<header>
    <div class="header_wrap">
        <a href="/" class="logo">
            <img src="{% static 'resource/img/common/logo.png' %}" alt="runcoding">
        </a>
        <!-- gnb -->
        <ul class="menu">
            <li>
                <a href="{% static 'lecture/lecture_list.html' %}">코딩키트</a>
            </li>
            <li>
                <a href="{% static 'lounge/coding_lounge.html' %}">코딩라운지</a>
            </li>

            <li>
                <a href="{% static 'comunity/coding_comunity.html' %}">커뮤니티</a>
            </li>
            <li>
                <a href="{% static 'lecture/myclass_list.html' %}">나의 강의실</a>
            </li>
        </ul>
        <div class="ab_right">
            <!-- 비로그인 -->
            <!--<a href="login.html" class="login">
                로그인
            </a>-->

            <!-- 로그인 -->
            <div class="user_menu">
                <span class="userImg"><img src="{% static 'resource/img/sub/img_user.png' %}" alt="유저 프로필"></span>
                <ul class="sub_menu">
                    <li>
                        <a href="mypage.html">내 프로필</a>
                    </li>
                    <li>
                        <a href="coupon.html">내 쿠폰</a>
                    </li>
                    <li>
                        <a href="orderList.html">주문내역</a>
                    </li>
                    <li>
                        <a href="{% static 'login/logout.html' %}">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- content -->
<div class="wrap">
     <section class="sub_visual">
        <div class="section_wrap">
            <div class="slogan">
                <span class="bigSlg ck_title">
                   장바구니
                </span>

            </div>
            <img class="subVisual codingKit" src="{% static 'resource/img/sub/sv_codingKit.png' %}" alt="코딩키트">
        </div>
    </section>

    <tr id="orderDiv" > <!--style="display: none" -->
         <div class="container margin-top-40">
             <tr class="row">
                  <div class="col-xs-offset-1 col-xs-10">
                      <div class="row">
                        <div class="col-xs-12">
                            <h2 class="margin-none"><b>주문하기</b></h2>
                        </div>
                      </div>

                      <tr class="row">
                          <div class="col-xs-12">
                             <div class="panel panel-default border-radius-none margin-top-30">
                                  <div class="panel-body">

                                      <!-- table -->
                                      <table class="order-table">
                                            <colgroup>
                                                 <col width="3%" />
                                                <col width="10%" />
                                                <col width="20%" />
                                                <col width="20%" />
                                                <col width="10%" />
                                                <col width="15%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                            </colgroup>
                                            <thead class="order-package">
                                            <tr>
                                                <th class="text-center">&nbsp;</th>
                                                <th class="text-center">&nbsp;</th>
                                                <th class="text-left">상품</th>
                                                <th class="text-left">옵션 선택</th>
                                                <th class="text-center">판매가</th>
                                                <th class="text-center">수량선택</th>
                                                <th class="text-left">배송구분</th>
                                                <th class="text-right">배송비</th>
                                            </tr>
                                            </thead>
                                          <tbody class="order-option">
                                            <tr>
                                                <td>
                                                    <input type="hidden" name="adultpro[]" value="0">
                                                    <input type="checkbox" name="idxs[]" value="0" checked onClick="javascript:check();">
                                                </td>
                                                <td>
                                                     <div class="pull-left">
                                                           <a href="{% static 'lecture/lecture_view_arduino.html' %}">
                                                               <img class="width-120px border-radius" src="{% static 'resource/img/Trashcan/trashcan_main.jpg' %}" onError="this.onerror=null;this.src='/img/404/no_gig_sm_image.jpg';">
                                                           </a>
                                                     </div>
                                                </td>
                                                <td>
                                                     <div class="pull-left">
                                                         <span>[아두이노 + AI] 스마트 휴지통</span>
                                                     </div>
                                                </td>
                                                <td>
                                                    <div id="prdModify">
                                                        <li>
                                                            <span>&nbsp;</span>
                                                            <select name="arduino" style="float:right; width:200px; height:24px; border:1px solid #d4d4d4; line-height:24px; font-size:12px;">
                                                                <option value="">------필수옵션-------</option>
                                                                <option value="1">아두이노 우노</option>
                                                            </select>
                                                        </li>
                                                         <li>
                                                            <span>&nbsp;</span>
                                                            <select name="runningCam" style="float:right; width:200px; height:24px; border:1px solid #d4d4d4; line-height:24px; font-size:12px;">
                                                                <option value="">------필수옵션-------</option>
                                                                <option value="2">러닝캠</option>
                                                            </select>
                                                        </li>
                                                    </div>
                                                </td>
                                                <td >
                                                    <div id="prd_price_0" style="float:left; margin-left:20px;">
                                                        <strong>45000</strong>
                                                     </div>
                                                    <div style="float:left;">
                                                        <strong>원</strong>
                                                     </div>
                                                </td>
                                                <td class="quantity_td" >
                                                    <span class="quantity">
                                                        <input type="text" id="prodQuantity_0" class="input quantity" value="1"/>
                                                        <a href="javascript:up('10', '0')" style="color: #000;">
                                                            <img src="{% static 'resource/img/sub/btn_quantity_up.gif' %}" alt="증가" class="QuantityUp">
                                                        </a>
                                                        <a href="javascript:down('1', '0')" style="color: #000;">
                                                            <img src="{% static 'resource/img/sub/btn_quantity_down.gif' %}" alt="감소" class="QuantityDown">
                                                        </a>
                                                    </span>
                                                </td>
                                                <td>
                                                   <strong>기본 배송</strong>
                                                </td>
                                                <td>
                                                   <div id="prd_option_price_0" style="float:left;">
                                                        <strong>3,000</strong>
                                                     </div>
                                                    <div style="float:left;">
                                                        <strong>원</strong>
                                                     </div>
                                                </td>
                                            </tr>

                                            <!-- second -->

                                            <tr>
                                                <td>
                                                    <input type="hidden" name="adultpro[]" value="0">
                                                    <input type="checkbox" name="idxs[]" value="1" checked onClick="javascript:check();">
                                                </td>
                                                <td>
                                                     <div class="pull-left">
                                                           <a href="{% static 'lecture/lecture_view_arduino.html' %}">
                                                               <img class="width-120px border-radius" src="{% static 'resource/img/Trashcan/trashcan_main.jpg' %}" onError="this.onerror=null;this.src='/img/404/no_gig_sm_image.jpg';">
                                                           </a>
                                                     </div>
                                                </td>
                                                <td>
                                                     <div class="pull-left">
                                                         <span>[아두이노 + AI] 스마트 휴지통</span>
                                                     </div>
                                                </td>
                                                <td>
                                                    <div id="prdModify">
                                                        <li>
                                                            <span>&nbsp;</span>
                                                            <select name="arduino" style="float:right; width:200px; height:24px; border:1px solid #d4d4d4; line-height:24px; font-size:12px;">
                                                                <option value="">------필수옵션-------</option>
                                                                <option value="1">아두이노 우노</option>
                                                            </select>
                                                        </li>
                                                         <li>
                                                            <span>&nbsp;</span>
                                                            <select name="runningCam" style="float:right; width:200px; height:24px; border:1px solid #d4d4d4; line-height:24px; font-size:12px;">
                                                                <option value="">------필수옵션-------</option>
                                                                <option value="2">러닝캠</option>
                                                            </select>
                                                        </li>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div id="prd_price_1" style="float:left; margin-left:20px;">
                                                        <strong>45000</strong>
                                                    </div>
                                                    <div style="float:left;">
                                                        <strong>원</strong>
                                                    </div>
                                                </td>
                                                <td class="quantity_td">
                                                   <span class="quantity">
                                                        <input id="prodQuantity_1" size="2" value="1" type="text">
                                                        <a href="javascript:up('10', '1')" style="color: #000;">
                                                            <img src="{% static 'resource/img/sub/btn_quantity_up.gif' %}" alt="증가" class="QuantityUp">
                                                        </a>
                                                        <a href="javascript:down('1', '1')" style="color: #000;">
                                                            <img src="{% static 'resource/img/sub/btn_quantity_down.gif' %}" alt="감소" class="QuantityDown">
                                                        </a>
                                                    </span>
                                                </td>
                                                <td>
                                                   <strong>기본 배송</strong>
                                                </td>
                                                <td>
                                                    <div id="prd_option_price_1" style="float:left;">
                                                         <strong>3,000</strong>
                                                    </div>
                                                     <div style="float:left;">
                                                        <strong>원</strong>
                                                     </div>
                                                </td>
                                            </tr>
                                          </tbody>
                                      </table>
                                 </div>
                             </div>
                        </div>
                    </div>
                  </tr>

                 <!-- 총금액 -->
                 <tr class="row">
                      <div class="col-xs-offset-1 col-xs-10">
                          <div class="row">
                              <div class="col-xs-12">
                                 <div class="border-radius-none margin-top-30">
                                      <div>
                                          <div class="margin-top-40 xans-order-totalsummary">
                                          <table summary>
                                             <colgroup>
                                                 <col style="width:23%;">
                                                 <col style="width:24%;">
                                                 <col style="width:23%;" class="displaynone">
                                                 <col style="width:auto;">
                                             </colgroup>
                                             <thead>
                                                <tr>
                                                    <th scope="col" class="text-center">
                                                        <span>총 상품 금액</span>
                                                    </th>
                                                     <th scope="col" class="text-center">
                                                        <span>총 배송비</span>
                                                    </th>
                                                     <th scope="col" class="text-center">
                                                        <span>결제 예상 금액</span>
                                                    </th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                             <tr>
                                                 <td>
                                                    <div id="total_prd_price" class="box" style="padding-left:30%; float:left; margin-right:10px;">
                                                        <strong>90000</strong>
                                                        <span class="tail displaynone"></span>
                                                    </div>
                                                     <div style="float:left;">
                                                        <strong>원</strong>
                                                     </div>
                                                 </td>
                                                 <td >
                                                    <div id="total_option_price" class="box" style="padding-left:35%; float:left; margin-right:10px;">
                                                        <strong>3000</strong>
                                                        <span class="tail displaynone"></span>
                                                    </div>
                                                     <div style="float:left;">
                                                        <strong>원</strong>
                                                     </div>
                                                 </td>
                                                 <td >
                                                    <div id="total_option_prd_price" class="box"  style="padding-left:40%; float:left; margin-right:10px;">
                                                        <strong>93000</strong>
                                                        <span class="tail displaynone"></span>
                                                    </div>
                                                     <div style="float:left;">
                                                        <strong>원</strong>
                                                     </div>
                                                 </td>
                                             </tr>
                                             </tbody>
                                         </table>
                                     </div>
                                 </div>
                              </div>
                          </div>
                      </div>
                    </div>
                 </tr>


                 <!-- 결제방법 -->
                 <tr class="row">
                  <div class="col-xs-offset-1 col-xs-10">
                        <div>
                            <div class="col-xs-12">
                                 <div class="panel panel-default border-radius-none margin-top-30">
                                      <div class="panel-heading bg-color-gray font-14"><strong>결제방법</strong></div>
                                      <div class="panel-body padding-all-15 font-14">
                                           <ui class="margin-bottom-0">
                                               <li>
                                                   <div style="width:100px; padding-right:10px">
                                                        <input type="radio" checked>
                                                        <span>신용카드</span>
                                                   </div>

                                               </li>
                                           </ui>
                                      </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                  </tr>

                    <!-- 배송지 -->
                    <tr class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                            <div>
                                <div class="col-xs-12">
                                     <div class="panel panel-default border-radius-none margin-top-30">
                                          <div class="panel-heading bg-color-gray font-14"><strong>배송지</strong></div>
                                          <div class="panel-body">
                                               <div class="row">
                                                   <div class="col-xs-7 padding-right-30 border-dashed-right"></div>
                                               </div>
                                          </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </tr>

                    <!-- 유의사항 -->
                    <tr class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                            <div>
                                <div class="col-xs-12">
                                     <div class="panel panel-default border-radius-none margin-top-30">
                                          <div class="panel-heading bg-color-gray font-14"><strong>알려드립니다.</strong></div>
                                          <div class="panel-body color-light-yellow">
                                               <div class="row">
                                                   <div class="col-xs-7 padding-right-30 border-dashed-right"></div>
                                               </div>
                                          </div>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </tr>

                  </div>
                <div class="btn-center"><a href="#" class="btn order_complete">주문하기</a></div>
        </div>
    </div>
</div>






<div class="banner bottom">
        <img class="bg left01" src="{% static 'resource/img/sub/bg_botBanner_left01.png' %}" alt="bg01">
        <img class="bg left02" src="{% static 'resource/img/sub/bg_botBanner_left02.png' %}" alt="bg02">
        <img class="bg right" src="{% static 'resource/img/sub/bg_botBanner_right.png' %}" alt="bg03">
        <span>
            CREATIVE CODING KIT로 학습하는 <b>런코딩!</b><br/>
            지금 시작해보세요.
        </span>
        <a href="{% static 'lecture/lecture_list.html' %}" class="btn">시작하기</a>
    </div>


   <footer>
            <div class="footer">
                <img class="ci" src="{% static 'resource/img/common/logo_footer.png' %}" alt="런코딩">
                <div class="footerText">
                    <div class="information">
                        <span>INFORMATION</span>
                        <ul>
                            <li>
                                <span>Company</span>
                                <p>런코딩</p>
                            </li>
                            <li>
                                <span>CPO</span>
                                <p>김하나</p>
                            </li>
                            <li>
                                <span>Business License</span>
                                <p>000-000-00000</p>
                            </li>
                            <li>
                                <span>Online Biz</span>
                                <p>000-000-00000</p>
                            </li>
                            <li>
                                <span>Address</span>
                                <p>경기도 런코딩 런코딩</p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact">
                        <span>CONTACT</span>
                        <ul>
                            <li>
                                <span>TEL</span>
                                <p>070-0000-0000</p>
                            </li>
                            <li>
                                <span>E-Mail</span>
                                <p>master@runcoding.com</p>
                            </li>
                            <li>
                                <span>Kakao ID</span>
                                <p>런코딩</p>
                            </li>
                        </ul>
                    </div>
                    <div class="snsArea">
                        <span>SNS</span>
                        <div class="snsBtn">
                            <a><img src="{% static 'resource/img/common/ico_kakaoTalk.png' %}" alt="kakaotalk"></a>
                            <a><img src="{% static 'resource/img/common/ico_instagram.png' %}" alt="instagram"></a>
                            <a><img src="{% static 'resource/img/common/ico_naverBlog.png' %}" alt="naverblog"></a>
                            <a><img src="{% static 'resource/img/common/ico_youtube.png' %}" alt="youtube"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="link_area">
                <div class="linkWrap">
                    <a href="#modal01">Privacy Policy</a>
                    <a href="#modal02">Terms &amp; Conditions</a>
                </div>
            </div>
        </footer>


        <!-- privacy modal -->
        <div data-ml-modal id="modal01">
            <a href="#!" class="modal-overlay"></a>
            <div class="modal-dialog modal-dialog-lg">
                <a href="#!" class="modal-close">&times;</a>
                <h3>개인정보취급방침</h3>
                <div class="modal-content">
                    <div class="terms_area">

                    </div>
                </div>
            </div>
        </div>

        <div data-ml-modal id="modal02">
            <a href="#!" class="modal-overlay"></a>
            <div class="modal-dialog modal-dialog-lg">
                <a href="#!" class="modal-close">&times;</a>
                <h3>이용약관</h3>
                <div class="modal-content">
                    <div class="terms_area">

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>

        $('.menu-btn').click(function() {
            $('.line').toggleClass('animate');
        });

         $(document).ready(function() {
            alert("cookies test");

            if(document.cookie == "")
            {
                alert("로그인이 필요합니다.");
                location.href = "/run_login/";
            }
            else
            {
                modify_option_price();
            }
         });

<!--         $(document).ready(function() {-->

<!--            // 쿠키 삭제-->
<!--            var cookies = document.cookie;-->
<!--            for (var i = 0; i < cookies.split(";").length; ++i)-->
<!--            {-->
<!--                var myCookie = cookies[i];-->
<!--                var pos = myCookie.indexOf("=");-->
<!--                var name = pos > -1 ? myCookie.substr(0, pos) : myCookie; document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";-->
<!--            }-->
<!--            modify_option_price();-->
<!--        });-->

       function modify_option_price()
       {
            var chks = document.getElementsByName('idxs[]');
            if(chks.length > 1)
            {
                for (var i=1,m=chks.length;i<=m ;i++)
                {
                    var option_name = "prd_option_price_"+i
                    if (chks[i].checked == true)
                    {
                        document.getElementById(option_name).innerHTML = "<strong>" + 0 + "</<strong>";
                    }
                }
             }
       }

        // 수량 더하기
        function up(max, id) {
            var quantity_name = "prodQuantity_" + id;
            var quantity = document.getElementById(quantity_name).value = parseInt(document.getElementById(quantity_name).value) + 1;
            if (document.getElementById(quantity_name).value >= parseInt(max))
                document.getElementById(quantity_name).value = max;

            total_count();

        }
        function down(min, id) {
            var quantity_name = "prodQuantity_" + id;
            var quantity = document.getElementById(quantity_name).value = parseInt(document.getElementById(quantity_name).value) - 1;
            if (document.getElementById(quantity_name).value <= parseInt(min))
                document.getElementById(quantity_name).value = min;

            total_count();
        }

        // total 금액 계산하기
        function total_count()
        {
            var chks = document.getElementsByName('idxs[]');

            var prd_price = 0;
            var prd_total_price = 0;
            var option = 0;
            var count = 1;

            var prd_price_name;
            var quantity_name;
            var prd_option_name;
            var total_summary_price = 0;

            var first = 0;

            for (var i=0,m=chks.length;i<m ;i++)
            {
                prd_price_name = "prd_price_" + i;
                quantity_name = "prodQuantity_" + i;
                prd_option_name ="prd_option_price_" + i;

				if (chks[i].checked == true)
				{
				    // 여러 상품 중 하나만 배송비 표시하기 위한 변수
				    first += 1;

				    if(first == 1)
				        document.getElementById(prd_option_name).innerHTML = "<strong>" + 3000 + "</<strong>";
				    else
				        document.getElementById(prd_option_name).innerHTML = "<strong>" + 0 + "</<strong>";

				    prd_price = document.getElementById(prd_price_name).innerText;
				    count = document.getElementById(quantity_name).value;
                    prd_total_price =  parseInt(prd_price) * count;

                    total_summary_price += prd_total_price;

				}
				else
				    document.getElementById(prd_option_name).innerHTML = "<strong>" + 0 + "</<strong>";
			}

			 if (total_summary_price >= 100000 || total_summary_price == 0)
                document.getElementById("total_option_price").innerHTML = "<strong>" + option + "</<strong>";
             else
             {
                option = 3000;
                document.getElementById("total_option_price").innerHTML = "<strong>" + option + "</<strong>";
             }

            var total = total_summary_price + parseInt(option);

            document.getElementById("total_prd_price").innerHTML = "<strong>" + total_summary_price + "</<strong>";
			document.getElementById("total_option_prd_price").innerHTML = "<strong>" + total + "</<strong>";
        }

        function check()
        {
			total_count();
		}

        $(window).scroll(function() {
            var scroll_top = $(window).scrollTop();
            if (scroll_top >= $(".sub_visual").outerHeight()) {
                $(".filter_area").addClass("scr");
            } else {
                $(".filter_area").removeClass("scr");
            }
        });

        $(window).scroll(function () {
            var scroll_top = $(window).scrollTop();
            if ( $(".sub_visual").outerHeight() + $(".lecture_list").height() <= scroll_top + $(".fixedArea").height()) {
                $(".scr").addClass("end");
            } else {
                $(".scr").removeClass("end");
            }
        });
    </script>
</body>
</html>
