
{% include "common/header.html" %}
{% load static %}

<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<div class="wrap">
    <section class="sub_visual">
            <div class="section_wrap">
                <div class="slogan">
                    <span class="bigSlg ck_title">
                        구매하기
                    </span>

                </div>
                <img class="subVisual codingKit" src="{% static 'resource/img/sub/sv_codingKit.png' %}" alt="코딩키트">
            </div>
        </section>
</div>

{% for orderList in order_info %}
<input type="hidden" name="id_{{forloop.counter0}}" value="{{orderList.prd.prd_code}}">
<input type="hidden" name="name_{{forloop.counter0}}" value="{{orderList.prd.title}}">
<input type="hidden" name="basePrice_{{forloop.counter0}}" value={{orderList.prd.price}}>
<input type="hidden" name="quantity_{{forloop.counter0}}" value={{orderList.count}}>
<input type="hidden" name="infoUrl_{{forloop.counter0}}" value="http://runcoding.co.kr/detail_prd/?prd_code={{orderList.prd.prd_code}}">
<input type="hidden" name="imageUrl_{{forloop.counter0}}" value="http://runcoding.co.kr{{orderList.prd.img}}">

{% if orderList.option1_selectNum == 2 %}
<input type="hidden" name="options_code_1_{{forloop.counter0}}" value="arduino">
<input type="hidden" name="options_price_1_{{forloop.counter0}}" value={{orderList.prd.option1_price}}>
<input type="hidden" name="options_value_1_{{forloop.counter0}}" value={{orderList.prd.option1}}>
{% elif orderList.option1_selectNum == 1 %}
<input type="hidden" name="options_code_1_{{forloop.counter0}}" value="noOption">
<input type="hidden" name="options_price_1_{{forloop.counter0}}" value="0">
<input type="hidden" name="options_value_1_{{forloop.counter0}}" value="선택없음">
{% endif %}

{% if orderList.option2_selectNum == 2 %}
<input type="hidden" name="options_code_2_{{forloop.counter0}}" value="arduino">
<input type="hidden" name="options_price_2_{{forloop.counter0}}" value={{orderList.prd.option2_price}}>
<input type="hidden" name="options_value_2_{{forloop.counter0}}" value={{orderList.prd.option2}}>
{% elif orderList.option2_selectNum == 1 %}
<input type="hidden" name="options_code_2_{{forloop.counter0}}" value="noOption">
<input type="hidden" name="options_price_2_{{forloop.counter0}}" value="0">
<input type="hidden" name="options_value_2_{{forloop.counter0}}" value="선택없음">
{% endif %}

{% if orderList.option3_selectNum == 2 %}
<input type="hidden" name="options_code_3_{{forloop.counter0}}" value="arduino">
<input type="hidden" name="options_price_3_{{forloop.counter0}}" value={{orderList.prd.option3_price}}>
<input type="hidden" name="options_value_3_{{forloop.counter0}}" value={{orderList.prd.option3}}>
{% elif orderList.option3_selectNum == 1 %}
<input type="hidden" name="options_code_3_{{forloop.counter0}}" value="noOption">
<input type="hidden" name="options_price_3_{{forloop.counter0}}" value="0">
<input type="hidden" name="options_value_3_{{forloop.counter0}}" value="선택없음">
{% endif %}

<input type="hidden" name="shipping_groupId" value="sipping_{{orderList.pay_num}}">
<input type="hidden" name="shipping_baseFee" value={{orderList.delivery_price}}>
{% endfor %}

<input type="hidden" id="imp" name="imp" value="{{imp}}">
<form id="result_form" method="post" action="/pay_result/" >
    {% csrf_token %}
    <input type="hidden" id="pay" name="pay" value={{payment.pay_idx}}>
    <input type="hidden" id="pay_result" name="pay_result" value="">
    <input type="hidden" id="pay_msg" name="pay_msg" value="">
    <input type="hidden" id="merchant_uid" name="merchant_uid" value="">
    <input type="hidden" id="imp_uid" name="imp_uid" value="">
    <input type="hidden" id="card_apply" name="card_apply" value="">
</form>
<script>

    var title = '{{payment.prd_info}}';
    var price = '{{payment.prd_price}}';
    var email = 'iamport@siot.do';
    var phone = '01012345678';
    var buyer_name = '{{payment.delivery_name}}';
    var buyer_addr2 = '{{payment.delivery_addr}}';
    var buyer_addr3 = '영통구';
    var buyer_addr = buyer_addr2.concat(" ", buyer_addr3);
    var buyer_postcode = '123-456';

    var product_cnt = '{{count}}';
    var imp = '{{imp}}'
    var pay_num = '{{payment.pay_num}}';
    var uid = 'merchant_' + pay_num;


    var shipping_id = $('[name=shipping_groupId]').val();
    var shipping_baseFee = $('[name=shipping_baseFee]').val();

    var cpaInflowCode_val = '{{CPAValidator}}';
    var naverInflowCode_val = '{{NA_CO}}';
    var saClickId_val = '{{NVADID}}';

    let product = [];
    var option = 0;

    for(var i=0; i< product_cnt ; i++)
    {
        var id_val = $('[name=id_' + i + ']').val();
        var name_val = $('[name=name_' + i + ']').val();
        var basePrice_val = $('[name=basePrice_' + i + ']').val();
        var quantity_val = $('[name=quantity_' + i + ']').val();
        var infoUrl_val = $('[name=infoUrl_' + i + ']').val();
        var imageUrl_val = $('[name=imageUrl_' + i + ']').val();
        let option_prd = [];
        let basic;

        if($('[name=options_code_3_' + i + ']').val() != null)
        {
            option = 1;
            var options_code_3 = $('[name=options_code_3_' + i + ']').val();
            var options_price_3 = $('[name=options_price_3_' + i + ']').val();
            var options_value_3 = $('[name=options_value_3_' + i + ']').val();

            option_prd.push({optionQuantity : quantity_val, optionPrice : options_price_3, selections : [{code: options_code_3, label : '추가부품', value : options_value_3}]})
        }
        if($('[name=options_code_2_' + i + ']').val() != null)
        {
            option = 1;
            var options_code_2 = $('[name=options_code_2_' + i + ']').val();
            var options_price_2 = $('[name=options_price_2_' + i + ']').val();
            var options_value_2 = $('[name=options_value_2_' + i + ']').val();

            option_prd.push({optionQuantity : quantity_val, optionPrice : options_price_2, selections : [{code: options_code_2, label : '추가부품', value : options_value_2}]})
        }
         if($('[name=options_code_1_' + i + ']').val() != null)
        {
             option = 1;
             var options_code_1 = $('[name=options_code_1_' + i + ']').val();
             var options_price_1 = $('[name=options_price_1_' + i + ']').val();
             var options_value_1 = $('[name=options_value_1_' + i + ']').val();

             option_prd.push({optionQuantity : quantity_val, optionPrice : options_price_1, selections : [{code: options_code_1, label : '추가부품', value : options_value_1}]})
        }

        if(option == 1)
        {
            basic = { id:id_val,name:name_val,basePrice:basePrice_val,taxType:'TAX',quantity:quantity_val,
                          infoUrl:infoUrl_val,imageUrl:imageUrl_val,
                          shipping:{groupId:shipping_id, method : 'DELIVERY', baseFee : shipping_baseFee, feePayType : 'PREPAYED'},
                          options : option_prd
                        }
        }
        else
        {
            basic = { id:id_val,name:name_val,basePrice:basePrice_val,taxType:'TAX',quantity:quantity_val,
                      infoUrl:infoUrl_val,imageUrl:imageUrl_val,
                      shipping:{groupId:shipping_id, method : 'DELIVERY', baseFee : shipping_baseFee, feePayType : 'PREPAYED'}
                    }
        }

        product.push(basic);
   }

    var import_prd ={"pg":"naverco",
            "pay_method":"card",
            "merchant_uid":uid,
            "name":title,
            "amount":price,
            "buyer_email":email,
            "buyer_name":buyer_name,
            "buyer_tel":phone,
            "buyer_addr":buyer_addr,
            "buyer_postcode":buyer_postcode,
            "naverProducts":product,
            };

      console.log(JSON.stringify(import_prd, null, '\t'));


    if(price > 0)
    {
        var IMP = window.IMP;
        IMP.init(imp);

        IMP.request_pay
        (
             import_prd
        );

        setTimeout(callback, 5000);
    }

    function callback()
    {
        location.href = "http://192.168.0.5:8000/naver_pay/";
    }


</script>

</body>
</html>