
{% include "common/header.html" %}
{% load static %}

<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<div class="wrap">
    <section class="sub_visual">
            <div class="section_wrap">
                <div class="slogan">
                    <span class="bigSlg ck_title">
                        구매하기
                    </span>

                </div>
                <img class="subVisual codingKit" src="{% static 'resource/img/sub/sv_codingKit.png' %}" alt="코딩키트">
            </div>
        </section>
</div>

<input type="hidden" id="imp" name="imp" value="{{imp}}">
<form id="result_form" method="post" action="/pay_result/" >
    {% csrf_token %}
    <input type="hidden" id="pay" name="pay" value={{payment.pay_idx}}>
    <input type="hidden" id="pay_result" name="pay_result" value="">
    <input type="hidden" id="pay_msg" name="pay_msg" value="">
    <input type="hidden" id="merchant_uid" name="merchant_uid" value="">
    <input type="hidden" id="imp_uid" name="imp_uid" value="">
    <input type="hidden" id="card_apply" name="card_apply" value="">
</form>
<script>

    var title = '{{payment.prd_info}}';
    var price = '{{payment.prd_total_price}}';
    var email = 'iamport@siot.do';
    var phone = '010-1234-5678';
    var buyer_name = '{{payment.delivery_name}}';
    var buyer_addr2 = '{{payment.delivery_addr}}';
    var buyer_addr3 = '영통구';
    var buyer_addr = buyer_addr2.concat(" ", buyer_addr3);
    var buyer_postcode = '123-456';
    var method = 'card';
    var product_cnt = '{{count}}';
    var prd_code = '2020080013001';
    var pay_num = '{{payment.pay_num}}';
    var info_url = 'http://runcoding.co.kr/detail_prd/?prd_code=' + prd_code;
    var img_url = 'http://runcoding.co.kr/static/resource/img/Trashcan/trashcan_main.jpg';
    var shipping_id = prd_code + '_' + pay_num;
    var supplement_id = prd_code + "_1";
    var option_1 = '아두이노 보드, 러닝캠';

    var text = '{{pay_text}}';

    // [ERR-OR-000001] 해당 가맹점은 현재 네이버 페이 주문진행이 불가능 합니다. 네이버 페이 고객센터로 문의해 주십시오.

    if(price > 0)
    {
        var IMP = window.IMP;
	    imp_id = $('[name=imp]').val();
        IMP.init(imp_id);

        IMP.request_pay({
        pg : 'naverco',
        pay_method : 'card',
        merchant_uid : 'merchant_' + new Date().getTime(),
        name :  title,
        amount : price,
        buyer_email : email,
        buyer_name : buyer_name,
        buyer_tel : phone,
        buyer_addr : buyer_addr,
        buyer_postcode : buyer_postcode,
        naverProducts : [
    	{
    		id :  prd_code,
    		name : title ,
    		basePrice : price ,
    		taxType : 'TAX', //TAX or TAX_FREE
    		quantity : product_cnt ,
    		infoUrl : info_url ,
    		imageUrl : img_url ,
    		shipping : {
    			groupId : shipping_id,
    			method : 'DELIVERY', //DELIVERY(택배·소포·등기), QUICK_SVC(퀵 서비스), DIRECT_DELIVERY(직접 전달), VISIT_RECEIPT(방문 수령), NOTHING(배송 없음)
    			baseFee : 3000 ,
    			feeRule : {
    				area:'jeju',
    				surcharge:5000
    			},
    			feePayType : 'PREPAYED' //PREPAYED(선불), CASH_ON_DELIVERY(착불)
            },
            supplements : [
                {
                    id : supplement_id,
                    name : '아두이노 보드, 러닝캠',
                    price : 0 ,
                    quantity : product_cnt
                }
            ],
            options : [
                {
                    optionQuantity : product_cnt,
                    optionPrice : 0,
                    selections  : [
                        {
                            code : "arduino",
                            label : "레벨",
                            value : "arduino"
                        }
                    ]
                }
            ]
    	}]
        }, function(rsp) {
            alert(rsp.error_msg);

        }


        );
    }

</script>

</body>
</html>