<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

      <link rel="stylesheet" type="text/css" href="{% static 'resource/css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/slick-theme.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resource/css/main.css' %}">

    <img src="{% static 'resource/img/popup/summer_camp.jpg' %}" onclick='javascript:go_page();'>

<script>
    function go_page()
    {
        window.close();
        setCookie('popup_coo', 'N', 0);
        var win = window.open('https://m.smartstore.naver.com/runcoding/products/5741434862', '_blank');

    }

     function setCookie(name, value, expiredays)
    {
        var date = new Date();
        date.setDate(date.getDate() + expiredays);
        document.cookie = escape(name) + "=" + escape(value) + "; path=/; expires=" + date.toUTCString();
    }


</script>

</head>
</body></html>

