{% include "common/head.html" %}
{% load static %}

<form id="popup_form" method="post" action="/popup/">
     {% csrf_token %}
     <input type="hidden" name="popup_regiId" id="popup_regiId" value="">
     <input type="hidden" id="result" name="result" value={{ request.session.IDresult }}>
 </form>
<script>
    $(document).ready(function() {

        document.getElementById("popup_regiId").value = opener.document.getElementById("regi_id").value;

        var remote_result = document.getElementById("result").value;
        alert(remote_result);
        if(remote_result == "")
        {
            document.getElementById("popup_form").submit();
        }
        else
        {
             if(remote_result.length > 2)
             {
                 alert("사용할 수 없는 ID 입니다.");
                 opener.document.getElementById("regi_id").value = "";
                 close();
             }
             else
             {
                 alert("사용할 수 있는 ID 입니다.");
                 close();
             }
        }
    });

    function close()
    {
        alert("close 개발중");
        self.close();
    }

</script>
</body>
</html>