<header>
    <div class="header_wrap">
        <a href="../main/index_runcoding.html" class="logo">
            <img src="../resource/img/common/logo.png" alt="runcoding">
        </a>
        <!-- gnb -->
        <ul class="menu">
            <li>
                <a href="../lecture/lecture_list.html">코딩키트</a>
            </li>
            <li>
                <a href="/bbs/board?bo_table=lounge">코딩라운지</a>
            </li>

            <li>
                <a href="/bbs/board?bo_table=comunity">커뮤니티</a>
            </li>
            <li>
                <a href="/lecture/myroom">나의 강의실</a>
            </li>
        </ul>
        <div class="ab_right">
            <!-- 비로그인 -->
            <!--<a href="login.html" class="login">
                로그인
            </a>-->

            <!-- 로그인 -->
            <div class="user_menu">
                <span class="userImg"><img src="../resource/img/sub/img_user.png" alt="유저 프로필"></span>
                <ul class="sub_menu">
                    <li>
                        <a href="mypage.html">내 프로필</a>
                    </li>
                    <li>
                        <a href="coupon.html">내 쿠폰</a>
                    </li>
                    <li>
                        <a href="orderList.html">주문내역</a>
                    </li>
                    <li>
                        <a href="login.html">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>