{% include "common/header.html" %}
{% load static %}
<div class="wrap">
<section class="sub_visual">
    <div class="section_wrap">
        <div class="slogan">
                    <span class="bigSlg">
                        코딩 라운지
                    </span>
            <p>
                다른 학생들은 어떤 작품을 만들었을까?<br/>
                동영상으로 확인해보세요!
            </p>
        </div>
        <img class="subVisual codingLounge" src="{% static 'resource/img/sub/sv_review.png' %}" alt="코딩라운지">
    </div>
</section>
<!-- sub visual -->

<!-- codingLounge list -->
        <div class="codingLounge_list">
            <ul class="thumb_list pagination">
                 {% for loungeList in lounge_list %}
                <li>
                    <a href="javascript:void(0);" onclick="javascript:goloungeView('{{loungeList.video_id}}');" class="btn brd_detail">
                        <img src="/static/resource/img/lounge/{{loungeList.data_name}}/{{loungeList.img}}" alt="코딩 라운지 리스트 썸네일">
                    </a>
                    <div class="text_area">
                        <span class="title">{{loungeList.title}}</span>
                        <p class="writer">Project by {{loungeList.user}}</p>
                    </div>
                </li>
                {%endfor%}
            </ul>
            <div class="paging_area">
                <a><img src="{% static 'resource/img/sub/go_first.png' %}"></a>
                <a><img src="{% static 'resource/img/sub/go_prev.png' %}"></a>
                <a class="active">1</a>
                <a>2</a>
                <a>3</a>
                <a><img src="{% static 'resource/img/sub/go_next.png' %}"></a>
                <a><img src="{% static 'resource/img/sub/go_last.png' %}"></a>
            </div>
        </div>


    {% include "common/banner_bottom.html" %}
    {% include "common/footer.html" %}

    <script>
        function goloungeView(video)
        {
            var newForm = $('<form></form>');

            newForm.attr("name", "lounge_form");
            newForm.attr("method", "post");
            newForm.attr("action", "/lounge_view/");

            newForm.append($('<input/>', {type: 'hidden', name: 'csrfmiddlewaretoken', value : '{{ csrf_token }}'}));
            newForm.append($('<input/>', {type: 'hidden', name: 'lounge_video', value : video }));

            newForm.appendTo('body');
            newForm.submit();
        }

    </script>


</body>
</html>
