{% include "common/header.html" %}
{% load static %}

    <script>
    function getVideo(url) {
        var src = '../resource/data/arduino_trashcan/arduino_install.mp4';
        if(url == 9)
            src = '../resource/data/arduino_trashcan/arduino_trashcan.mp4';

        var video  = document.getElementById('video_ctrl');
        video.src = src;
    }

    </script>



    <div class="wrap">
     <section class="sub_visual">
    <div class="section_wrap">
        <div class="slogan">
                    <span class="bigSlg">
                        코딩 라운지
                    </span>
            <p>
                다른 학생들은 어떤 작품을 만들었을까?<br/>
                동영상으로 확인해보세요!
            </p>
        </div>
        <img class="subVisual codingLounge" src="{% static 'resource/img/sub/sv_review.png' %}" alt="코딩라운지">
    </div>
    </section>


        <!-- codingKit list -->
        <div class="codingKit_list detail myClass">
            <div class="lecture_list detail">
                <div class="detail_area">
                    <!-- 동영상 영역입니다. -->
                    <div class="video_area">
                        <iframe id="youTubePlayer1" type="text/html" width="1000" height="500"
                        src="http://www.youtube.com/embed/pUU90JhO75M?autoplay=1" frameborder="0"></iframe>
                    </div>

<!--                    <div class="precaution">-->
<!--                        <span class="summaryTitle">영상 소개</span>-->
<!--                        <ul>-->
<!--                            <li>스마트 휴지통 키트를 완성해 보세요.</li>-->
<!--                            <li>강의에 대한 요약된 정보를 입력해주세요.</li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </div>
                <div style="padding-left:300px;">
                <a href="/lounge/" class="btn list_more" >목록으로</a>
               </div>
            </div>
        </div>

        {% include "common/banner_bottom.html" %}
        {% include "common/footer.html" %}

    <script>
        // hamberger menu
        $('.menu-btn').click(function() {
            $('.line').toggleClass('animate');
        });
        // hamberger menu
        // navigation
        $(document).ready(function() {
            $(".gnbClose, .gnbOpen").on("click", function(){
                $(".gnb").toggleClass("active");
                $(".gnbOpen").toggleClass("gnbClose");
                $("html, body, .wrap").toggleClass("open");
                $('html, body, .wrap').off('scroll touchmove mousewheel');
            });
        });

        // accordion menu
        $(document).ready(function() {
            $("#accordion .section_title").click(function() {
                var link = $(this);
                var closest_ul = link.closest("ul");
                var parallel_active_links = closest_ul.find(".active")
                var closest_li = link.closest("li");
                var link_status = closest_li.hasClass("active");
                var count = 0;

                closest_ul.find("ul").slideUp(function() {
                    if (++count == closest_ul.find("ul").length)
                        parallel_active_links.removeClass("active");
                });

                if (!link_status) {
                    closest_li.children("ul").slideDown();
                    closest_li.addClass("active");
                }
            })
        });

        $(window).scroll(function() {
            var scroll_top = $(window).scrollTop();
            if (scroll_top >= $(".sub_visual").outerHeight()) {
                $(".filter_area").addClass("scr");
            } else {
                $(".filter_area").removeClass("scr");
            }
        });

        $(window).scroll(function () {
            var scroll_top = $(window).scrollTop();
            if ( $(".sub_visual").outerHeight() + $(".lecture_list").height() <= scroll_top + $(".fixedArea").height()) {
                $(".scr").addClass("end");
            } else {
                $(".scr").removeClass("end");
            }
        });


    </script>


</body></html>