{% load static %}
{% include "common/header.html" %}
    <div class="wrap">
        <!-- sub visual -->
        <section class="sub_visual">
            <div class="section_wrap">
                <div class="slogan">
                    <span class="bigSlg">
                        나의 강의실
                    </span>
                    <p>
                        수업 한번으로는 감이 잘 안잡히시나요?<br/>
                        감 잡힐때까지! 보고 또 보세요!
                    </p>
                </div>
                <img class="subVisual myClass" src="{% static 'resource/img/sub/sv_myClass.png' %}" alt="나의 강의실">
            </div>
        </section>
        <!-- sub visual -->

        <form id="myclass_form" method="post" action="/myclass/">
            {% csrf_token %}
            <input type="hidden" id="prdCode" name="prdCode" value="">
            <input type="hidden" id="itemCode" name="itemCode" value="">
            <input type="hidden" id="myclass_idx" name="myclass_idx" value="">
            <input type="hidden" id="myclass_play" name="myclass_play" value="">
        </form>

        <!-- codingLounge list -->
        <div class="codingLounge_list">
            <ul class="thumb_list">
                 {% for list_detail in myclass_list_detail %}
                <li>
                    {% if list_detail.prd != None %}
                    <img src='/static/resource/img/{{list_detail.prd.prd_list_img}}' alt="코딩 라운지 리스트 썸네일">
                    <div class="text_area">
                        <span class="title">{{list_detail.prd.title}}({{list_detail.prd.keyword}})</span>
                            {% if list_detail.play == 'D'%}
                             <p class="date"> 강의시작 전입니다.</p>
                             <p class="date">&nbsp;</p>
                            {% else %}
                            <p class="writer">{{list_detail.play_time }} ~ </p>
                            <p class="date"> {{list_detail.expire_time | date:'Y-m-d' }}</p>
                            {% endif %}
                        <a href="javascript:void(0);" onclick="javascript:goMyClass('{{list_detail.prd.prd_code}}', '{{list_detail.item_code}}', '{{list_detail.myclassList_idx}}', '{{list_detail.play}}');" class="btn brd_detail">강의 보기</a>
                    </div>
                    {% elif list_detail.bonus != None %}
                    <img src='/static/resource/img/{{list_detail.bonus.prd_list_img}}' alt="코딩 라운지 리스트 썸네일">
                    <div class="text_area">
                        <span class="title">{{list_detail.prd.title}}({{list_detail.bonus.keyword}})</span>
                            {% if list_detail.play == 'D'%}
                             <p class="date"> 강의시작 전입니다.</p>
                             <p class="date">&nbsp;</p>
                            {% else %}
                            <p class="writer">{{list_detail.play_time }} ~ </p>
                            <p class="date"> {{list_detail.expire_time | date:'Y-m-d' }}</p>
                            {% endif %}
                        <a href="javascript:void(0);" onclick="javascript:goMyClass('{{list_detail.bonus.bonus_prdCode}}', '{{list_detail.item_code}}', '{{list_detail.myclassList_idx}}', '{{list_detail.play}}');" class="btn brd_detail">강의 보기</a>
                    </div>
                    {% endif %}
                </li>
                {%endfor%}
            </ul>
        </div>

        {% if count == 0 %}
            <div class="banner bottom" style="margin-top:-10px;">
                <img class="bg left01" src="{% static 'resource/img/sub/bg_botBanner_left01.png' %}" alt="bg01">
                <img class="bg left02" src="{% static 'resource/img/sub/bg_botBanner_left02.png' %}" alt="bg02">
                <img class="bg right" src="{% static 'resource/img/sub/bg_botBanner_right.png' %}" alt="bg03">
                <span>
                    코딩 키트 구매 후, 이용 가능합니다 <br/>
                </span>
                 <a class="btn" style="float:left; margin-left:250px; margin-top:50px;"  href="javascript:void(0);" onClick="javascript:goPay();" >구매하기</a>
                 <a href="/coupon/"  class="btn" style="margin-left:10px; margin-top:50px;" >쿠폰등록</a>
            </div>
        {% else %}
            <div class="banner bottom" style="z-index:1;">
                <img class="bg left01" src="{% static 'resource/img/sub/bg_botBanner_left01.png' %}" alt="bg01">
                <img class="bg left02" src="{% static 'resource/img/sub/bg_botBanner_left02.png' %}" alt="bg02">
                <img class="bg right" src="{% static 'resource/img/sub/bg_botBanner_right.png' %}" alt="bg03">
                <span>
                    CREATIVE CODING KIT로 학습하는 <b>런코딩!</b><br/>
                </span>
               <a class="btn" href="/coupon/" style="margin-top:50px;">쿠폰등록</a>
        </div>
        {% endif %}
        {% include "common/footer.html" %}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/css/animate.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/css/jquery.modal.css" />
    <script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/jquery.modal.js"></script>
    <script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/modal.js"></script>

    <script>
        $(document).ready(function() {
            if($("input[type=hidden][name=clientId]").val() == "")
            {
                $("#res_msg").text("가입자가 아닙니다. 회원가입을 해주세요.");
                $('div.modal').modal();
            }
         });

         function goMyClass(prdCode, itemCode, idx, play)
         {
            $("input[type=hidden][name=prdCode]").val(prdCode);
            $("input[type=hidden][name=itemCode]").val(itemCode);
            $("input[type=hidden][name=myclass_idx]").val(idx);
            $("input[type=hidden][name=myclass_play]").val(play);
            document.getElementById("myclass_form").submit();
         }

        function goPay()
        {
            var win = window.open('https://smartstore.naver.com/runcoding', '_blank');
            win.focus();
        }

    </script>

</body>
</html>