{% load static %}
{% include "common/header.html" %}
    <div class="wrap">
        <!-- sub visual -->
        <section class="sub_visual">
            <div class="section_wrap">
                <div class="slogan">
                   <span class="bigSlg ck_title">
                        {{title}}
                    </span>

                </div>
                <img class="subVisual myClass" src="{% static 'resource/img/sub/sv_myClass.png' %}" alt="나의 강의실">
            </div>
        </section>
        <!-- sub visual -->

        <!-- codingKit list -->
        <div class="codingKit_list detail myClass">
            <div class="lecture_list detail">
                <div class="detail_area">
                    <!-- 동영상 영역입니다. -->
                    <div class="video_area">
                        <video id="video_ctrl" width ="100%" height="100%" controls autoplay controlsList="nodownload"  poster="" src="" />
                    </div>

                    <input type="hidden" name="play_enable" value="{{play}}">
                    <div class="class_list_precaution">

                        <div id="lecture_data"></div>
                    </div>
                </div>
                <a href="/myclass_list/" class="btn list_more">목록으로</a>
            </div>
            <div class="filter_area detail">
                <div class="fixedArea">
                    <div class="info_area">
                        <span>강의목록</span>
                        <div class="lecture_info">
                            <ul class="lectureList" id="accordion">
                                 <li class="active">
                                    <span>환경구축</span>
                                    <ul class="submenu">
                                         {% for item_common_detail in myclass_common_detail %}
                                       <li>
                                             <a href="javascript:getVideo('{{item_common_detail.prd.prd_code}}', '{{item_common_detail.data}}', '{{item_common_detail.downdata}}', '{{item_common_detail.downdata_name}}');" class="classList">
                                                 {{forloop.counter}}. {{item_common_detail.title}}</a>
                                       </li>
                                         {% endfor %}
                                    </ul>
                                </li>
                                <br/>
                                 <li class="active">
                                    <span>키트강의</span>
                                    <ul class="submenu">
                                         {% for item_detail in myclass_detail %}
                                       <li>
                                             <a href="javascript:getVideo('{{item_detail.prd.prd_code}}', '{{item_detail.data}}', '{{item_detail.downdata}}', '{{item_detail.downdata_name}}');" class="classList">
                                                 {{forloop.counter}}. {{item_detail.title}}</a>
                                       </li>
                                         {% endfor %}
                                    </ul>
                                </li>
                                <br/>
                                <li class="active">
                                     <span>세부강의</span>
                                    <ul class="submenu">
                                         {% for sub_detail in myclass_sub_detail %}
                                       <li>
                                             <a href="javascript:getVideo('{{sub_detail.prd.prd_code}}', '{{sub_detail.data}}', '{{sub_detail.downdata}}', '{{sub_detail.downdata_name}}');" class="classList">
                                                 {{forloop.counter}}. {{sub_detail.title}}</a>
                                       </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top:50px"></div>
        {% include "common/footer.html" %}

    </div>

    <script>
       $(document).ready(function() {
            if($("input[type=hidden][name=clientId]").val() == "")
            {
                alert("로그인이 필요합니다.");
                location.href = "/run_login/";
            }
         });

        // accordion menu
        $(document).ready(function() {
            $("#accordion .section_title").click(function() {
                var link = $(this);
                var closest_ul = link.closest("ul");
                var parallel_active_links = closest_ul.find(".active")
                var closest_li = link.closest("li");
                var link_status = closest_li.hasClass("active");
                var count = 0;

                closest_ul.find("ul").slideUp(function() {
                    if (++count == closest_ul.find("ul").length)
                        parallel_active_links.removeClass("active");
                });

                if (!link_status) {
                    closest_li.children("ul").slideDown();
                    closest_li.addClass("active");
                }
            })

            document.getElementById('video_ctrl').setAttribute('poster','/static/resource/img/sub/myclass_preload.png');
        });

        $(window).scroll(function() {
            var scroll_top = $(window).scrollTop();
            if (scroll_top >= $(".sub_visual").outerHeight()) {
                $(".filter_area").addClass("scr");
            } else {
                $(".filter_area").removeClass("scr");
            }
        });

        $(window).scroll(function () {
            var scroll_top = $(window).scrollTop();
            if ( $(".sub_visual").outerHeight() + $(".lecture_list").height() <= scroll_top + $(".fixedArea").height()) {
                $(".scr").addClass("end");
            } else {
                $(".scr").removeClass("end");
            }
        });

        function getVideo(prdCode, data, downdata, downdata_name)
        {
            var src = '/static/resource/data/lecture/' + prdCode + '/' + data;
            var video  = document.getElementById('video_ctrl');
            video.src = src;

            if(downdata == 'None')
            {
                document.getElementById('lecture_data').innerHTML = '<span class="summaryTitle">강의 자료실</span><ul><li>자료가 없습니다.</li></ul>';
            }
            else
            {
                var down_src = '/static/resource/data/download/' + prdCode + '/' + downdata
                document.getElementById('lecture_data').innerHTML = '<span class="summaryTitle">강의 자료실</span><ul><a href=' + down_src + ' download><li>' + downdata_name + '</li></a></ul>';
            }

            var play = $("input[type=hidden][name=play_enable]").val();
            if(play == 'D')
            {
                var myclass_idx = '{{myclass_idx}}';

                 $.ajax({
                    data: {prdCode:prdCode, data:data, myclass_idx:myclass_idx, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    type: 'post',
                    url: '/video_play/',
                    dataType: 'json',
                    success:function(result){
                        if(result == 200)
                        {
                            $("input[type=hidden][name=play_enable]").val('A');
                        }
                    }
                 });
            }
        }
    </script>

</body></html>