{% load static %}
{% include "common/header.html" %}
    <div class="wrap">
        <!-- sub visual -->
        <section class="sub_visual">
            <div class="section_wrap">
                <div class="slogan">
                    <span class="bigSlg">
                        나의 강의실
                    </span>
                    <p>
                        수업 한번으로는 감이 잘 안잡히시나요?<br/>
                        감 잡힐때까지! 보고 또 보세요!
                    </p>
                </div>
                <img class="subVisual myClass" src="{% static 'resource/img/sub/sv_myClass.png' %}" alt="나의 강의실">
            </div>
        </section>
        <!-- sub visual -->

        <form id="myclass_form" method="post" action="/myclass/">
            {% csrf_token %}
            <input type="hidden" id="prdCode" name="prdCode" value="">
        </form>

        <!-- codingLounge list -->
        <div class="codingLounge_list">
            <ul class="thumb_list">
                 {% for list_detail in myclass_list_detail %}
                <li>
                    <img src={{list_detail.prd.img}} alt="코딩 라운지 리스트 썸네일">
                    <div class="text_area">
                        <span class="title">{{list_detail.prd.title}}</span>
                        <p class="writer">{{list_detail.start_time | date:'y-m-d' }} ~ </p>
                        <p class="date"> {{list_detail.expire_time | date:'y-m-d' }}</p>
                        <a href="javascript:void(0);" onclick="javascript:goMyClass({{list_detail.prd.prd_code}});" class="btn brd_detail">강의 보기</a>
                    </div>
                </li>
                {%endfor%}
            </ul>
<!--            <div class="paging_area">-->
<!--                <a><img src="{% static 'resourceresource/img/sub/go_first.png' %}"></a>-->
<!--                <a><img src="{% static 'resource/img/sub/go_prev.png' %}"></a>-->
<!--                <a class="active">1</a>-->
<!--                <a>2</a>-->
<!--                <a>3</a>-->
<!--                <a><img src="{% static 'resource/img/sub/go_next.png' %}"></a>-->
<!--                <a><img src="{% static 'resource/img/sub/go_last.png' %}"></a>-->
<!--            </div>-->
        </div>

        {% include "common/banner_bottom.html" %}
        {% include "common/footer.html" %}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/css/animate.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/css/jquery.modal.css" />
    <script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/jquery.modal.js"></script>
    <script src="//cdn.jsdelivr.net/gh/stove99/jquery-modal-sample@v1.4/js/modal.js"></script>

    <script>
        $(document).ready(function() {
            if($("input[type=hidden][name=clientId]").val() == "")
            {
                $("#res_msg").text("가입자가 아닙니다. 회원가입을 해주세요.");
                $('div.modal').modal();
            }
         });

         function goMyClass(prdCode)
         {
            $("input[type=hidden][name=prdCode]").val(prdCode);
            document.getElementById("myclass_form").submit();
         }

    </script>

</body>
</html>