{% load static %}
{% include "common/header.html" %}

    <div class="wrap">
        <!-- sub visual -->
        <section class="sub_visual">
            <div class="section_wrap">
                <div class="slogan">
                   <span class="bigSlg ck_title">
                        스마트 휴지통
                    </span>
                    <div class="pageNav">
                        <span>[아두이노 + AI]</span>
                    </div>
                </div>
                <img class="subVisual myClass" src="{% static 'resource/img/sub/sv_myClass.png' %}" alt="나의 강의실">
            </div>
        </section>
        <!-- sub visual -->

        <!-- codingKit list -->
        <div class="codingKit_list detail myClass">
            <div class="lecture_list detail">
                <div class="detail_area">
                    <!-- 동영상 영역입니다. -->
                    <div class="video_area">
<!--                        <img src="../resource/img/sub/samp_video.png" alt="video area">-->
                        <video id="video_ctrl" width ="750" height="500" id="a_video" controls controlsList="nodownload" src="{% static 'resource/data/arduino_trashcan/arduino_install.mp4' %}" >
                        </video>

                    </div>

                    <div class="precaution">
                        <span class="summaryTitle">강의 소개</span>
                        <ul>
                            <li>스마트 휴지통 키트를 완성해 보세요.</li>
                            <li>강의에 대한 요약된 정보를 입력해주세요.</li>
                        </ul>
                    </div>
                </div>
                <a href="/myclass_list/" class="btn list_more">목록으로</a>
            </div>
            <div class="filter_area detail">
                <div class="fixedArea">
                    <div class="info_area">
                        <span>강의목록</span>
                        <div class="lecture_info">
                            <ul class="lectureList" id="accordion">
                                <li class="active">
                                    <span class="section_title">section 01.</span>
                                    <ul class="submenu">
                                        <li class="now"><a href="javascript:getVideo(1);" class="classList">01. 아두이노 설치 [환경구축]</a></li>
                                        <li><a href="javascript:getVideo(9);"  class="classList">09. Trashcan [키트만들기]</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="btn_area">
                        <a href="#" class="btn cart">나의 강의실로</a>
                        <a class="btn buy">다음 강의</a>
                    </div>
                </div>
            </div>
        </div>

       {% include "common/banner_bottom.html" %}
        {% include "common/footer.html" %}


    </div>

    <script>
        $(document).ready(function() {
                alert("개발중.. 회원가입하고 쓰시오");
                location.href = "/run_login/";
        });

        // 수량 더하기
        function up(max) {
            document.getElementById("prodQuantity").value = parseInt(document.getElementById("prodQuantity").value) + 1;
            if (document.getElementById("prodQuantity").value >= parseInt(max)) {
                document.getElementById("prodQuantity").value = max;
            }
        }
        function down(min) {
            document.getElementById("prodQuantity").value = parseInt(document.getElementById("prodQuantity").value) - 1;
            if (document.getElementById("prodQuantity").value <= parseInt(min)) {
                document.getElementById("prodQuantity").value = min;
            }
        }

        // accordion menu
        $(document).ready(function() {
            $("#accordion .section_title").click(function() {
                var link = $(this);
                var closest_ul = link.closest("ul");
                var parallel_active_links = closest_ul.find(".active")
                var closest_li = link.closest("li");
                var link_status = closest_li.hasClass("active");
                var count = 0;

                closest_ul.find("ul").slideUp(function() {
                    if (++count == closest_ul.find("ul").length)
                        parallel_active_links.removeClass("active");
                });

                if (!link_status) {
                    closest_li.children("ul").slideDown();
                    closest_li.addClass("active");
                }
            })
        });

        $(window).scroll(function() {
            var scroll_top = $(window).scrollTop();
            if (scroll_top >= $(".sub_visual").outerHeight()) {
                $(".filter_area").addClass("scr");
            } else {
                $(".filter_area").removeClass("scr");
            }
        });

        $(window).scroll(function () {
            var scroll_top = $(window).scrollTop();
            if ( $(".sub_visual").outerHeight() + $(".lecture_list").height() <= scroll_top + $(".fixedArea").height()) {
                $(".scr").addClass("end");
            } else {
                $(".scr").removeClass("end");
            }
        });

        function getVideo(url) {
        var src = '../resource/data/arduino_trashcan/arduino_install.mp4';
        if(url == 9)
            src = '../resource/data/arduino_trashcan/arduino_trashcan.mp4';

        var video  = document.getElementById('video_ctrl');
        video.src = src;
    }


    </script>


</body></html>