 {% load static %}
    <div class="info_detail">
        <span class="title">런코딩 코딩 키트 첫번째 프로젝트, "스마트 휴지통"을 소개합니다.&nbsp;&nbsp; </span>
        <img src="{% static 'resource/img/Trashcan/info_trashcan_1.jpg' %}" style="width:50%; padding-top:10px; padding-bottom:10px" alt="상품상세 이미지">
        <img src="{% static 'resource/img/Trashcan/info_trashcan_2.jpg' %}" style="width:50%" alt="상품상세 이미지">
        <span class="img_info">
            <li>런코딩 키트 학습 완료 후의 최종모습</li>
            <li>(마지막은 나만의 그림으로 다른 얼굴의 휴지통을 만들어요)</li>
        </span>


        <ul>
            <li><span class="first_content">내 주변에서 볼 수 있는 아이템들이 내가 직접 만들어 볼 수 있다면??</span></li>
            <li><span class="content">단순히 교구에 그치는 창작물은 NO!!</span></li>
            <li><span class="content">아이디어가 접목된 실생활 아이템들을 직접 만들어 볼 수 있다면 아이들의 흥미도는 업업!!</span></li>
        </ul>

        <ul>
            <li><span class="first_content">인공지능 시대를 살아가고 있는 우리!</span></li>
            <li><span class="content">우린 인공지능을 다룰 줄 알아야 합니다. 미래의 일자리는 현재 없는 일자리가 더 창출될 예정이니깐요.</span></li>
            <li><span class="content">결국, 인공지능을 만들고 이용하는 데에는 우리의 창의력이 필요합니다!</span></li>
        </ul>
    </div>