 {% load static %}
 {% include "product/trashcan.html" %}
    <div class="info_detail">
        <span class="sub_title">블럭 코딩 with mblock (엠블럭) + 아두이노 보드 + AI(인공지능) 코딩&nbsp;&nbsp; </span>
        <img src="{% static 'resource/img/Trashcan/mblock/info_trashcan_mblock_1.jpg' %}" style="padding-top:10px; padding-bottom:10px" alt="상품상세 이미지">

        <ul>
            <li> <span class="content">엠블럭(mblock) 실행 예시 - 한글로 표기되어 쉽게 접할 수 있어요.</span></li>
        </ul>

        <img src="{% static 'resource/img/Trashcan/mblock/info_trashcan_mblock_2.jpg' %}" style="padding-top:100px; " alt="상품상세 이미지">

        <ul>
            <li> <span class="content">엠블럭 (블럭코딩) -  아두이노 보드와 연결해 만들어보는 코딩 키트입니다.</span></li>
            <li> <span class="content">(온라인 강의 예제 입니다. 강의에 필요한 아두이노 보드를 포함 필요한 교구 부품은</span></li>
            <li> <span class="content">택배로 보내드리는 디자인 키트에 포함되어 있습니다.</span></li>
        </ul>

        <ul>
            <li> <span class="content">프로그래밍 언어의 개념이 생소한 코딩 베이비들 경우</span></li>
            <li> <span class="point_content">"스크래치"와 같은 블럭코딩을 통해 코딩개념을 익힐 수 있어요.</span></li>
            <li> <span class="content">하지만 스크래치 언어는 아두이노 보드와 호환이 되지 않아서 내 손으로 뚝딱 만들어보는데 한계가 있어요.</span></li>
            <li> <span class="content">런코딩은 mblock을 이용한 블럭코딩으로 아두이노를 동작시키고, 뚝딱 만들어볼 수 있는 강의를 구성하였습니다.</span></li>
        </ul>

        <img src="{% static 'resource/img/Trashcan/mblock/info_trashcan_mblock_3.jpg' %}" style="padding-top:100px; " alt="상품상세 이미지">
        <img src="{% static 'resource/img/Trashcan/mblock/info_trashcan_mblock_4.jpg' %}" style="padding-top:10px; " alt="상품상세 이미지">
        <img src="{% static 'resource/img/Trashcan/mblock/info_trashcan_mblock_5.jpg' %}" style="padding-top:10px; " alt="상품상세 이미지">

        <ul>
            <li> <span class="content">엠블럭(블럭코딩)을 통한 러닝봇 (런코딩 자체 개발 인공지능 프로그램) 연결 및 분석 모습입니다.</span></li>

            <br/>
            <li> <span class="content">코딩 학습 교구에서는 잘 볼 수 없는 AI(인공지능) 코딩,</span></li>
            <li> <span class="content">아무래도 AI 코딩 경우 프로그래밍 중에서도 고난이도 분야이며 그에 따른 전문가가 많지 않은 편입니다.</span></li>

            <br/>
            <li> <span class="content">그러다보니 아이들 학습으로는 다소 접근하기 어려웠던 AI(인공지능) 코딩, </span></li>
            <li> <span class="content">런코딩 개발자는 현 AI(인공지능) 개발 파트에서 근무 중인 현직 프로그래머로서</span></li>

            <br/>
            <li> <span class="content">보다 쉽고, 정확하게 인공지능 코딩 학습을 위해</span></li>
            <li> <span class="point_content">코딩 교구에서는 만나보기 힘든 "러닝봇" 인공지능 프로그램을 자체 개발 + 디자인 키트에 도입하였습니다.</span></li>

            <br/>
            <li> <span class="content">온라인 강의와 러닝봇 AI 프로그램을 통해 아이들이 직접 컴퓨터를 교육시키고, 이를 아두이노 보드와 </span></li>
            <li> <span class="content">연결해보는 흥미로운 코딩 키트를 만나보세요.</span></li>
        </ul>

        <img src="{% static 'resource/img/Trashcan/mblock/info_trashcan_mblock_6.jpg' %}" style="padding-top:100px; " alt="상품상세 이미지">
        <img src="{% static 'resource/img/Trashcan/mblock/info_trashcan_mblock_7.jpg' %}" style="padding-top:10px; " alt="상품상세 이미지">
    </div>

  {% include "product/common.html" %}