 {% load static %}
    <div >
        <span class="title">런코딩 코딩 키트 첫번째 프로젝트, "스마트 휴지통"을 소개합니다.&nbsp;&nbsp; </span>
        <img src="{% static 'resource/img/Trashcan/info_trashcan_1.jpg' %}" style="padding-top:10px; padding-bottom:10px" alt="상품상세 이미지">
        <img src="{% static 'resource/img/Trashcan/info_trashcan_2.jpg' %}" alt="상품상세 이미지">
        <span class="img_info">
            <li>런코딩 키트 학습 완료 후의 최종모습</li>
            <li>(마지막은 나만의 그림으로 다른 얼굴의 휴지통을 만들어요)</li>
        </span>


        <ul>
            <li><span class="point_content">내 주변에서 볼 수 있는 아이템들이 내가 직접 만들어 볼 수 있다면??</span></li>
            <li><span class="content">단순히 교구에 그치는 창작물은 NO!!</span></li>
            <li><span class="content">아이디어가 접목된 실생활 아이템들을 직접 만들어 볼 수 있다면 아이들의 흥미도는 업업!!</span></li>
        </ul>

        <ul>
            <li><span class="point_content">인공지능 시대를 살아가고 있는 우리!</span></li>
            <li><span class="content">우린 인공지능을 다룰 줄 알아야 합니다. 미래의 일자리는 현재 없는 일자리가 더 창출될 예정이니깐요.</span></li>
            <li><span class="content">결국, 인공지능을 만들고 이용하는 데에는 우리의 창의력이 필요합니다!</span></li>
        </ul>

        <ul>
            <li><span class="sub_title">내 코딩 학습 수준에 맞춰서 강의 및 프로그램을 선택해 주세요.&nbsp;&nbsp; </span></li>
            <li><span class="content">런코딩 디자인 코딩 키트는 </span><br/><span class="point_content">이제 막 코딩을 시작한 "코딩 베이비"들의 수준에 맞춘 엠블럭(스크래치 코딩) 버전과</span></li>
            <li><span class="content">실전 코딩이 궁금한 </span><span class="point_content">"코딩 주니어"들을 위한 아두이노 버전 </span><span class="content">두 가지가 준비 되어 있습니다.</span></li>
        </ul>

        <ul>
            <li><span class="content">제공되는 </span><span class="point_content">디자인 키트는 및 스마트 휴지통 결과물은 동일하며</span></li>
            <li><span class="content">코딩 방법이 학습 수준에 따라 엠블럭 / 아두이노 버전으로 온라인 강의 버전에 맞춰 구매 할 수 있습니다.</span></li>
        </ul>

        <ul style="padding-top:50px;">
            <li><span class="sub_title">우리는 위 코딩 키트를 통해 두가지 결과물을 만들어 볼 수 있습니다.&nbsp;&nbsp; </span></li>
            <img src="{% static 'resource/img/Trashcan/info_trashcan_3_gif.gif' %}" style="padding-top:10px; padding-bottom:10px" alt="상품상세 이미지">
            <span class="img_info">
                <li>물체 (손) 이 휴지통에 가까이 가면 자동으로 열리는 휴지통</li>
            </span>
            <ul>
                <li><span class="content">1) 초음파센서(눈위치)와 서보모터를 이용해 손이 가까이 가면 자동으로 열리는 휴지통</span></li>
            </ul>

            <img src="{% static 'resource/img/Trashcan/info_trashcanAI_4_gif.gif' %}" alt="상품상세 이미지" style="padding-top:100px;">
            <span class="img_info">
                <li>코 부분 AI 러닝캠 카메를 통해 빨강 - 캔 / 파랑 - 패트 / 초록 - 우유갑  중에서</li>
                <li>"초록" 우유갑만 인식 될 때 열리는 분리수거 휴지통</li>
             </span>
            <ul>
                <li><span class="content">2) 러닝캠(카메라센서)와 런코딩 자체 개발 AI(인공 지능) 프로그램으로
                    학습된 분류(캔, 플라스틱, 종이 등)만 인식이 될 때 자동으로 열리는 분리수거 휴지통</span></li>
            </ul>
        </ul>

         <ul style="padding-top:50px;">
            <li><span class="sub_title">다음과 같은 순서로 강의가 진행이 됩니다.&nbsp;&nbsp; </span></li>
            <img src="{% static 'resource/img/Trashcan/info_trashcan_5.jpg' %}" style="padding-top:10px; " alt="상품상세 이미지">
            <ul>
                <li><span class="content">1) 학습 수준에 맞춰 코딩 키트를 구매해 주시면 집으로 디자인 키트가 “슝“ 배달이 됩니다.</span></li>
            </ul>

            <img src="{% static 'resource/img/Trashcan/info_trashcan_6.jpg' %}" alt="상품상세 이미지" style="padding-top:100px;">
            <img src="{% static 'resource/img/Trashcan/info_trashcan_7.jpg' %}" alt="상품상세 이미지" style="padding-top:10px;">
            <ul>
                <li><span class="content">2) 박스 안에는 코딩 교구에서 만나기 힘들었던 "카메라 센서" 러닝캠을 비롯해</span></li>
                <li><span class="content">아두이노 보드 및 강의에 필요한 부품이 들어 있어요.</span></li>
            </ul>

            <ul>
                <li><span class="point_content">런코딩 키트는 가위, 풀, 테이프가 필요 없습니다 ! </span></li>
                <li><span class="content">보내드린 부품과 재료들만으로도 학습이 가능합니다!!</span></li>
           </ul>

             <img src="{% static 'resource/img/Trashcan/info_trashcan_8.jpg' %}" style="padding-top:100px; " alt="상품상세 이미지">
             <ul>
                <li><span class="content">3) 박스 교구 경우 아이들이 사용 할 때 날카로울 수 있어요</span></li>
                <li><span class="content">이에 런코딩은 안전할 수 있도록 </span><span class="point_content">"톱니 커팅" 방식으로 제작했습니다.</span></li>
             </ul>

             <img src="{% static 'resource/img/Trashcan/info_trashcan_9.jpg' %}" style="padding-top:100px; " alt="상품상세 이미지">
             <img src="{% static 'resource/img/Trashcan/info_trashcan_10.jpg' %}" style="padding-top:10px; " alt="상품상세 이미지">
             <ul>
                <li><span class="content">4) 로그인 후 “나의 강의실” 에서 구입한 키트 해당 강좌 시청이 가능합니다.</span></li>
                <li><span class="content">강의 목록에 맞춰 선생님과 함께 하나씩 만들어 가면서 학습 할 수 있습니다.</span></li>
             </ul>

             <img src="{% static 'resource/img/Trashcan/info_trashcan_11.jpg' %}" style="padding-top:100px; " alt="상품상세 이미지">
             <img src="{% static 'resource/img/Trashcan/info_trashcan_12.jpg' %}" style="padding-top:10px; " alt="상품상세 이미지">
             <img src="{% static 'resource/img/Trashcan/info_trashcan_13.jpg' %}" style="padding-top:10px; " alt="상품상세 이미지">
             <img src="{% static 'resource/img/Trashcan/info_trashcan_14.jpg' %}" style="padding-top:10px; " alt="상품상세 이미지">
        </ul>
    </div>